[2017-07-27 13:30] charsdavy commented on #430
API uses the correct way ： https://www.npmjs.com/package/jsdom
and https://www.npmjs.com/package/node-jsdom

[2017-07-29 18:00] aerohub opened #431 "Post image URL in Open Graph meta tag"
Hello! I know that the theme author recommends to use CDNs and remote hosts like Google Photos for images. But I'd like to know is there any way to use images in post asset folder with open graph meta tag being correctly generated for them. Does anybody use these folders for post images?

Configuration is:

Site `_config.yml`
[code]

I use [image tag](https://github.com/LouisBarranqueiro/hexo-them

[2017-07-29 20:29] LouisBarranqueiro commented on #431
HI, there is no problem, you just need to specify the absolute path of your image.

[2017-07-29 20:34] LouisBarranqueiro commented on #430
Hi @charsdavy, what are you trying to do? Did you download the source or the production version? I guess your downloaded the source and forgot to install all the dependencies. Read the developer documentation to install them : https://github.com/LouisBarranqueiro/hexo-theme-tranquilpeak/blob/master/docs/developer.md#installation

[2017-07-29 20:48] LouisBarranqueiro commented on #429
yes, when you modify the static files of the theme (js, css), you have to re-build the theme, read the developer documentation about this: https://github.com/LouisBarranqueiro/hexo-theme-tranquilpeak/blob/master/docs/developer.md#build

[2017-07-29 20:48] #429 closed

[2017-07-29 21:01] aerohub commented on #431
I do, but thought there is more convenient way. For what I need post asset folder then? May be it's easier then to place all images of all posts in some domain.org/postpics/ folder to have more usable url pattern.

[2017-07-29 21:08] LouisBarranqueiro commented on #428
Hi @skout90, I guess this happens because it's not a valid HTML code, the parser do not understand angular properties in the HTML. You can try to not specify the language; like that, highlight.js (the code parser) will interpret your code as a text file but you will loose the syntax coloration. You can create an issue on highlight.js github repo.

Also could you please give me the source code of y

[2017-07-29 21:08] LouisBarranqueiro commented on #426
Sure

[2017-07-29 21:17] LouisBarranqueiro commented on #424
Hi @sunilpatro1985, you just have to use some html and inline css!
[code]

Thanks for using this them. :)

[2017-07-29 21:17] #424 closed

[2017-07-29 21:24] LouisBarranqueiro commented on #421
Algolia request to clear the index has timed out. that's all, you just need to try again

[2017-07-29 21:24] #421 closed

[2017-07-29 21:49] aerohub commented on #431
And what I really mean. In [Tranquilpeak docs](https://github.com/LouisBarranqueiro/hexo-theme-tranquilpeak/blob/master/docs/user.md#enable-post-assets-folder) we read:
[code]
and in [Hexo docs](https://hexo.io/docs/asset-folders.html#Post-Asset-Folder) we read:
[code]
But in fact we have to specify the absolute path of image. It disorients.

[2017-07-29 21:50] LouisBarranqueiro commented on #419
Hey @aerohub, i'm on it!

[2017-07-29 21:51] #411 closed

[2017-07-29 21:52] #414 closed

[2017-07-29 21:52] #416 closed

[2017-07-29 21:55] LouisBarranqueiro commented on #420
Hi, `archives` page is already taken by Hexo. It's like a system page. that's why you can't use it.

[2017-07-29 21:55] #420 closed

[2017-07-29 22:16] LouisBarranqueiro commented on #431
in fact, you have to specify the relative path from the root of your site... It's not really convenient but  `image` is a built in tag of Hexo...

[2017-07-29 23:49] aerohub commented on #431
May be some note then&

[2017-07-30 01:42] LouisBarranqueiro commented on #431
Not really, because you only have to specify the relative path from the root of your site only when you use the built-in `image` tag and not the other features related to the theme like cover image, thumbnail image, etc...

[2017-07-30 05:26] aerohub commented on #431
OK, this may be closed.

[2017-07-30 15:14] charsdavy commented on #430
Thank you very mach. @LouisBarranqueiro I had solve it.

[2017-07-30 15:14] #430 closed

[2017-08-06 06:05] flyrk opened #433 "How to Add Disqus Comments Plugin?"
### Configuration

 - **Operating system with version** :
 - **Tranquilpeak version** :

### Actual behavior
I can't open comments even if I click the comments button.

### Expected behavior
How can I make the comments function working?

[2017-08-06 15:52] skout90 commented on #428
@LouisBarranqueiro Thanks you!  I posted issue on hightlight.js github repo. https://github.com/isagalaev/highlight.js/issues/1584

[2017-08-08 14:16] #433 closed

[2017-08-13 16:51] ByronHsu opened #434 "After grunt prodBuild ,''<%-'' in script.ejs before js('asset/js/....') disappears"
### Configuration

 - **Operating system with version** : macPro ver 10.12.3
 - **Node version** : v8.1.2
 - **Hexo version** : 5.3.0
 - **Hexo-cli version** : 5.3.0
 - **Tranquilpeak version** : 1.10.0

I follow the Installation Instruction  step by step in Developer documentation. After that, however, when I type in ''grunt prodBuild", somethings strange occurs
[](url)

- script.ejs
[code]
- hea

[2017-08-16 04:21] william-han-wang opened #435 "thumbnail images not shown"
### Configuration

 - **Operating system with version** : OS 10.11.6
 - **Node version** : v6.11.2
 - **Hexo version** : 3.2.0
 - **Hexo-cli version** : 1.0.3
 - **Tranquilpeak version** :
 Original 1.10

### Actual behavior
Thumbnail images fail to show

### Expected behavior
I should be able to see thumbnail images in the front page, after following all the user instructions, set post_asset_fold

[2017-08-21 13:06] r-yanyo opened #436 "disappear font-awesome icon after building."
I changed "tranquilpeak.scss" file because I'd like to change a bit of blog style.
After that, I used "npm run start" to validate the scss file change.
It successed, but the sidebar-icon disappeared.

I checked the directory source/assets/css.
There are some files like "font-awesome.css" before building, but There is only "tranquilpeak.css" after building.

It seems to mistake setting grunt task.

[2017-08-21 14:10] #436 closed

[2017-08-26 17:35] putraeka commented on #435
Your thumbnail image should be placed on /themes/tranquilpeak/source/_images

[2017-08-28 09:13] damarindra commented on #410
+1.
I've tried to make this works, but my knowledge of js and css is poor.
If you want to add this feature, maybe this will be help : https://github.com/forsigner/fexo
I've tried to copy the js, css, and implements the layout, but no help, always return null variable. The structure of your code and fexo is different.

[2017-08-30 05:03] prajaybasu opened #437 "Font Awesome version."
### Configuration
 - **Tranquilpeak version** : 1.10.0

I need the Quora icon (it is a popular website). It would be awesome if FA 4.7 is availaibe out of the box for the sidebar icons.

[2017-09-01 17:53] max-white opened #438 "hexo server fails with errors"
### Configuration

 - **Operating system with version** : Linux 4.83-1-MANJARO
 - **Node version** : 8.4.0
 - **Hexo version** : 3.3.8
 - **Hexo-cli version** : 1.0.3
 - **Tranquilpeak version** : 1.10.0

### Actual behavior
Iam currently running into the following error with the development version of the repo, the production
version runs smoothly though. npm run prod is building successfully. Th

[2017-09-02 08:23] max-white commented on #438
okay i fixed it with this command:
`echo fs.inotify.max_user_watches=524288 | sudo tee -a /etc/sysctl.conf && sudo sysctl -p`
according to this site : https://hexo.io/docs/troubleshooting.html#ENOSPC-Error-Linux

[2017-09-02 08:23] #438 closed

[2017-09-07 11:57] jeremejazz commented on #435
I noticed a problem when it comes to relative links. For external/absolute links the thumbnail is working. Upon checking the code I noticed that the URL does not have a slash between the domain and year
`http://localhost:40002015/11/21/i ...`
I would like to ask though where the error is. For the meantime you can upload your Image on an image cdn and use the URL.

[2017-09-07 12:02] jeremejazz commented on #435
As much as I'm concerned I prefer keeping post related assets away from the theme folder.

[2017-09-08 06:40] jeremejazz commented on #435
Have you disabled **relative_link** in your _config.yaml. It should be set to false

[2017-09-09 08:41] wendingp commented on #437
Yeah, same problem with you

[2017-09-09 09:57] wendingp commented on #437
And I followed the steps in the developer doc, it updated to 4.6.3 in default building mode, still no quora icon...

[2017-09-12 07:48] LouisBarranqueiro commented on #437
👋 . Good idea guys. I'm gonna check this out!

[2017-09-12 07:49] LouisBarranqueiro commented on #435
👋 guys. I'm late to the party. Is your problem solved @william-han-wang ?

[2017-09-12 09:38] wendingp opened #441 "Math formula rendering problems"
I've installed [hexo-math](https://github.com/hexojs/hexo-math). It works in [hexo theme next](https://github.com/iissnan/hexo-theme-next) but when I switch to tranquilpeak, `$...$`, `$$...$$`and math block don't work:
1. It shows $ sign and normal texts when using single $ (`$...$`).
2. No formula showing when using double $ (`$$...$$`).
3. When in server mode, using `{% math %} ... {% endmath %}

[2017-09-12 13:51] william-han-wang commented on #435
Thank you guys for the suggestions! @jeremejazz I do have disabled the relative_link. Although I am okay with placing images on /themes/tranquilpeak/source/_images. I would like to be able to place thumbnail images locally with each post's asset folder.

[2017-09-13 02:08] LouisBarranqueiro commented on #435
@william-han-wang Could you please give us the url of your image when the blog is generated and a screenshot of `_posts` folders with all folders and files visibles (to see how it is structured).

[2017-09-13 02:47] william-han-wang commented on #435
@LouisBarranqueiro I have a post: hello.md and here is the header.

---
title: hello
date: 2017-08-18 00:27:41
clearReading: true
thumbnailImage: figure.jpg
thumbnailImagePosition: right
autoThumbnailImage: yes
---

This is my first post!

{%asset_img figure.jpg Hello, world!%}

The folders are like this:

<img width="925" alt="screen shot 2017-09-12 at 10 42 39 pm" src="https://user-images.github

[2017-09-16 04:32] autrol opened #442 "blog"

[2017-09-18 05:27] #442 closed

[2017-09-23 18:10] javidrashid opened #443 "Theme won't load the resources CSS and JS in production but works fine on localhost."
I am having issues with this theme, It looks like it is not a problem with the hexo itself, can you please help with the following issue.

https://github.com/hexojs/hexo/issues/2766

[2017-09-25 07:42] talentprince opened #444 "Thumbnail won't show with my assets"
### Configuration

 - **Operating system with version** : Darwin 16.7.0 darwin x64
 - **Node version** :  8.5.0
 - **Hexo version** :  3.3.9
 - **Hexo-cli version** : 1.0.3
 - **Tranquilpeak version** : latest

### Actual behavior
I use thumbnailImage: /images/xxx.png, doesn't work, the generate url is http://host/blog-name/source/images/xxx.png
It should be the same like the image inside my log,

[2017-09-26 22:49] maireh commented on #210
Is there a way to change max-width at the site level?

I also love your theme - and I also want to change max-width. I don't really want to fork the theme since you still seem to be in active development. I will fork the theme if it is the only way.

[2017-09-30 13:51] wendingp commented on #160
So what is the best solution to this so far then?

[2017-10-01 03:47] wendingp opened #445 "Add a multi-languages switch button"
This is a supported feature in the official hexo doc. But how to add it as an option button in tranquilpeak theme?

[2017-10-05 03:34] youngmeng opened #446 "share supports wechat"
when can this theme's share support WeChat and Moments？

[2017-10-05 08:08] YoshinoriN commented on #446
@youngmeng

Do you mean that share button ?
You can add share buttons for any services using by _config.yml if you want.This feature implemented in v 1.10.0.

https://github.com/LouisBarranqueiro/hexo-theme-tranquilpeak/blob/master/docs/user.md#sharing-options

[2017-10-08 08:27] youngmeng commented on #446
@YoshinoriN

I mean the share button after article. I know the sharing-options, but I still can't add Wechat and Moments button. May somebody has added it?

[2017-10-09 13:30] qiurigao opened #447 "问题"
bash-4.4$ hexo v
ERROR Script load failed: themes/tranquilpeak/scripts/migrators/1.4.0.js
Error: Cannot find module 'i'
    at Function.Module._resolveFilename (module.js:469:15)
    at Function.Module._load (module.js:417:25)
    at Module.require (module.js:497:17)
    at require (internal/module.js:20:19)
    at Object.get (/data/data/com.termux/files/home/blog/themes/tranquilpeak/node_modules/

[2017-10-13 11:49] RadianceL opened #448 "Add my blog into the showcase"
Hey, add my blog into the showcase:https://radiancel.github.io/

and i have a question：
my blog each of document is too big（long） at home page；
how config like your blog？

[2017-10-23 01:38] LouisBarranqueiro commented on #448
Hey @RadianceL , thanks for using this theme.

how config like your blog？

You are searching this post excerpt feature: https://github.com/LouisBarranqueiro/hexo-theme-tranquilpeak/blob/master/docs/user.md#define-post-excerpt

[2017-10-23 01:38] #448 closed

[2017-10-23 01:40] LouisBarranqueiro commented on #447
Hey @qiurigao , please follow the template and use english when you are posting an issue.

[2017-10-23 01:40] #447 closed

[2017-10-23 01:43] LouisBarranqueiro commented on #446
Hi @youngmeng , why you can't? You just have to add these new sharing options to the list.

[2017-10-23 01:45] LouisBarranqueiro commented on #445
Hi @wendingp,

you have change the theme for this. I don't plan to do it for the moment, sorry. Maybe I'll do it when Hexo i18n features will be better.

[2017-10-23 01:45] #445 closed

[2017-10-23 01:51] LouisBarranqueiro commented on #444
👋 @talentprince, you have to put these images in the folder related to your post. otherwise use an absolute link.

Read: https://github.com/LouisBarranqueiro/hexo-theme-tranquilpeak/blob/master/docs/user.md#enable-post-assets-folder

[2017-10-23 01:56] LouisBarranqueiro commented on #443
:wave: @javidrashid, please follow the template to post an issue otherwise it hard for me to help you. I quickly read your issue. and you basically need to install theme dependencies and build the theme.
Read:
- https://github.com/LouisBarranqueiro/hexo-theme-tranquilpeak/blob/master/docs/developer.md#installation
- https://github.com/LouisBarranqueiro/hexo-theme-tranquilpeak/blob/master/docs/deve

[2017-10-23 01:57] LouisBarranqueiro commented on #441
:wave: @wendingp,  please follow the template to post an issue otherwise it's hard for me to help you.

[2017-10-23 01:57] #441 closed

[2017-10-23 03:12] LouisBarranqueiro commented on #434
👋 @ByronHsu, could you please add the output of the console when you run `grunt buildProd` task?

[2017-10-23 03:15] LouisBarranqueiro commented on #435
ok but what the link generated looks like?

[2017-10-23 03:16] #431 closed

[2017-10-23 03:18] #428 closed

[2017-10-23 15:10] william-han-wang commented on #435
Hi, I don't quite understand your question, do you mean the thumbnail image link? Well, it links to the post: https://william-han-wang.github.io/2017/08/18/hello/, for the image itself online:https://william-han-wang.github.io/2017/08/18/hello/figure.jpg.
Now somehow the thumbnail is located at the bottom with very strangely looking large size... I am at a loss right now. This theme is really grea

[2017-10-23 20:19] LouisBarranqueiro commented on #435
https://william-han-wang.github.io/2017/08/18/hello/figure.jpg is a correct link and it works. This is where Hexo put images of a post. Everything is ok on this side.

Add a screen and related HTML code of your page please.

[2017-10-23 21:02] william-han-wang commented on #435
<img width="200" alt="screen shot 2017-10-23 at 4 31 50 pm" src="https://user-images.githubusercontent.com/25693263/31912831-3b87cf04-b813-11e7-8bdd-4739bbe241d2.png">

[code]

[2017-10-27 14:57] tnir opened #450 "jQuery 2.2.4"
Use the latest jQuery 2.x (2.2.4)

[2017-10-27 14:59] tnir opened #452 "fontawesome 4.7.0"
Use fontawesome 4.7.0.

[2017-10-27 15:00] tnir opened #453 "fancybox 2.1.6"
Use the latest fancybox 2 (2.1.6).

Note that 2.1.7 is not available via bower.

[2017-10-29 09:09] #446 closed

[2017-10-30 01:37] LouisBarranqueiro commented on #452
duplicate of #437

[2017-10-30 01:37] #452 closed

[2017-10-31 07:17] mikecann opened #454 "Add my blog into the showcase"
Hey, add my blog into the showcase: https://mikecann.co.uk/

[2017-10-31 07:19] mikecann commented on #454
Thanks for the awesome work on the theme, really makes my blog shine.

BTW Im thinking of making the background a video, I have a ton of drone videos that might look good if I clip, loop then blur them: https://www.youtube.com/channel/UCrgLfQ1_Z5QQx4JKmtxkxIg/videos

[2017-10-31 07:33] LouisBarranqueiro commented on #454
👋 @mikecann, you have some amazing videos man 👍 ! you can modify the theme to insert a HTML5 video yeah! :D

[2017-10-31 07:33] #454 closed

[2017-10-31 07:34] mikecann commented on #454
Awesome thanks mate.

[2017-10-31 15:13] aerohub opened #455 "Question about TOC and $1 in headings"
The problem is: if I have $1 in headings it is trimmed in generated TOC.

**Example:**
Heading in source post text `### If I Had $1000000`
becomes `<h3>If I Had $1000000</h3>`
but TOC item looks like this `If I Had 000000`

If I use double $ in heading then the TOC item looks good but generated `<h3>` does not:
Source: `### If I Had $$1000000`
HTML: `<h3>If I Had $$1000000</h3>`
TOC item: `If I Ha

[2017-11-04 07:51] zyzyz opened #458 "Add my blog into the showcase, and more. (multi-language site inplemented)"
Hey, add my blog into the showcase: http://zyzyz.github.io/en/

My blog supports 3 languages and I add a language switch button at footer.
It should be able to switch language for any page.

Sorry for my few posts as my foreign language is not so good. There are still few bugs but it should be okay for showcase.

I have modified some part of the theme and use my own plugins to implement this featu

[2017-11-07 07:20] mikecann opened #459 ""algoliasearch is not defined" on Posts but is on Index?"
### Configuration

 - **Operating system with version** : Windows 10
 - **Node version** : 6.11.3
 - **Hexo version** : 3.2.0
 - **Hexo-cli version** : 1.0.3
 - **Tranquilpeak version** : 1.10.0 - modified

### Actual behavior
Search popup doesn't open on pages or blog posts and get error "algoliasearch is not defined" in console.

### Expected behavior
Should be able to open search popup from any

[2017-11-07 12:52] promontory7 opened #460 "how to set the name"
`<h4 id="about-card-name">[object Object]</h4>`

why the name is "[object Object]"?

//---------------this is my config

author:
    email:
    location: 广州
    picture: avatar.jpg
    twitter:
    google_plus:
    google_plus_business:

[2017-11-08 20:47] xxxxavier commented on #77
@AudienceX 他的master分支里是不带css和js的文件的，他的user document里有一个项目的压缩包，用哪个就好，实在是不明白他为什么这么做

[2017-11-09 01:31] tawlang opened #461 "Do you want to add friends and leancloud plugins?"
Do you want to add  [uyan](https://www.uyan.cc) and [leancloud](https://leancloud.cn) plugins?

[2017-11-12 23:10] LouisBarranqueiro commented on #418
Hey @kiriltaran , thanks for using this theme :)

[2017-11-12 23:10] #418 closed

[2017-11-12 23:45] LouisBarranqueiro commented on #435
You told me that was the original version of the theme but I see that's is not the case. E.g:
[code]
it's not in the original version.
and it seems that you have installed some other plugins so it's very hard for me to understand your problem if I don't have the full context.

Get the original version of the theme without any plugins installed and try again. Then re-open this issue if you still en

[2017-11-12 23:45] #435 closed

[2017-11-13 00:00] #434 closed

[2017-11-13 00:03] #443 closed

[2017-11-13 00:03] #444 closed

[2017-11-13 00:58] LouisBarranqueiro commented on #458
👋 @zyzyz , good job  for having internationalize your entire blog (posts included).

Could you try to PR the repository to create a new section in the documentation to explain how to do that using your plugin? (if it's not tricky of course) :)

[2017-11-13 00:58] #458 closed

[2017-11-13 01:37] LouisBarranqueiro commented on #455
👋 @aerohub , it's a bug from the [Hexo toc](https://hexo.io/docs/helpers.html#toc) helper. Create an issue on their repository to report this bug.

[2017-11-13 01:37] #455 closed

[2017-11-13 02:34] LouisBarranqueiro commented on #459
👋 @mikecann, indeed that is weird. Could you please fill out the template to report a bug. It would help me to understand and solve our problem

[2017-11-13 02:39] LouisBarranqueiro commented on #460
👋 @promontory7, because the indentation is not correct. If you want a more detailed answer please fill out the template to report a bug.

[2017-11-13 02:39] #460 closed

[2017-11-13 02:40] LouisBarranqueiro commented on #461
👋 @tawlang, I don't know these plugins. What do they do?

[2017-11-13 03:16] #453 closed

[2017-11-13 03:16] #450 closed

[2017-11-15 05:45] mikecann commented on #459
@LouisBarranqueiro sorry about that, I have now updated the issue above using the template. Thankyou very much for your time and any assistance you may be able to offer 😄

[2017-11-15 06:31] mikecann commented on #459
Its odd because the code for loading algoliasearch is exactly the same at the bottom of the homepage and the about page:

[code]

BTW I am using https://github.com/oncletom/hexo-algolia to update the index instead of your algolia plugin, perhaps thats the issue?

[2017-11-21 10:32] mikecann commented on #459
I located the problem.

I had a MailChimp signup form popup that was conflicting for some reason:

```script type="text/javascript" src="//downloads.mailchimp.com/js/signup-forms/popup/embed.js" data-dojo-config="usePlainJson: true, isDebug: false"></script><script type="text/javascript">require(["mojo/signup-forms/Loader"], function(L) { L.start({"baseUrl":"mc.us3.list-manage.com","uuid":"aaed03b

[2017-11-21 10:32] #459 closed

[2017-11-21 17:45] LouisBarranqueiro commented on #459
Ok great @mikecann! When I inspected your site, the strange thing happened on your post pages. Algolia script was loaded but instead of expose `window.algoliasearch`, it exposed `window.AlgoliaSearch`. I don't really know why.

[2017-11-22 00:27] mikecann commented on #459
hmmm.. it perhaps has something to do with me using https://github.com/oncletom/hexo-algolia in my project? Either way it works now, thanks for your help!

[2017-11-25 20:14] #361 closed

[2017-11-27 05:54] LouisBarranqueiro commented on #419
Fixed in v1.11.0

[2017-11-27 05:54] #419 closed

[2017-11-27 05:54] LouisBarranqueiro commented on #426
Fixed in v1.11.0

[2017-11-27 05:54] #426 closed

[2017-11-27 05:54] LouisBarranqueiro commented on #437
Available in v1.11.0

[2017-11-27 05:54] #437 closed

[2017-11-27 05:54] #401 closed

[2017-12-05 18:13] minchaowu opened #463 "Unhandled rejection ReferenceError when generating posts with non-empty values of categories"
### Configuration

 - **Operating system with version** : Linux 4.10.0-40-generic linux x64 | ubuntu 16.04 LTS
 - **Node version** : 4.2.6
 - **Hexo version** : 3.4.2
 - **Hexo-cli version** : 1.0.4
 - **Tranquilpeak version** : 1.11.0 original

### Actual behavior
Whenever the value of `categories:` in a front-matter is not empty, the following is reported during `hexo generate` :

### Expected b

[2017-12-11 09:18] zyzyz commented on #458
@LouisBarranqueiro
Sorry for my late reply, I have created a PR to give a multi-language site building solution.

It may be complicate(or tricky?) to achieve that, as the original Hexo has not good supports for multi-language switch. I provide a diff file to make the solution "portable". My aim is mainly provide ideas about implementation of whole-site i18n with a switch, so it's okay to reject th

[2017-12-19 02:06] ihepta opened #466 "Template render error"
hi,Louis Barranqueiro
I need ur help

### Configuration

 - **Operating system with version** : macOS high sierra 10.13.1
 - **Node version** : v6.9.2
 - **Hexo version** : v3.4.3
 - **Hexo-cli version** : v1.0.4
 - **Tranquilpeak version** :
 v1.8.0 original

### Actual behavior
when I use `hexo g` on windowsOS ,it generate success and everything is ok.
but when I use this command on my mbp with

[2017-12-21 06:33] ihepta commented on #466
@LouisBarranqueiro sorry for bothering you . It was thoughtless of me lost some key script.

[2017-12-21 06:33] #466 closed

[2017-12-26 22:06] huiwang commented on #331
Hello everyone, I developed a new plugin which generates a list of recommended posts for each post. This list contains both internal and exchanged external links. You can live preview this feature [here](http://hui-wang.info/2017/12/02/%E5%AD%A6%E4%B9%A0%E5%A6%82%E4%BD%95%E5%AD%A6%E4%B9%A0/).

For more details about the plugin, you can find the doc [here](https://github.com/huiwang/hexo-recommende

[2017-12-27 07:53] wlx200510 opened #467 "add my blog into the showcase"
Hey, add my blog into the showcase: www.geekarl.com

[2017-12-31 18:41] LouisBarranqueiro commented on #467
👋 @wlx200510 , Thanks for using this theme! :)

[2017-12-31 18:41] #467 closed

[2017-12-31 18:42] #461 closed

[2018-01-03 06:39] wangyeming opened #468 ""npm run start" fail, TypeError [ERR_INVALID_CALLBACK]: Callback must be a function"
### Configuration

 - **Operating system with version** :
mac os High Sierra
 - **Node version** :
v9.3.0
 - **Hexo version** :
3.4.4
 - **Hexo-cli version** :
1.0.4
 - **Tranquilpeak version** :
1.11.0

 original

### Actual behavior
npm install   result: success
bower install  result: success
npm run start  result : fail

    Loading "Gruntfile.js" tasks...ERROR

    Warning: Task "default" not

[2018-01-08 03:37] zhaojiangsir opened #469 "Add my blog into the showcase"
Hey, add my blog into the showcase:

[2018-01-08 13:05] LouisBarranqueiro commented on #469
👋  @zhaojiangsir, thanks for using this theme.

[2018-01-08 13:05] #469 closed

[2018-01-11 01:00] zhuzhuyule opened #470 "It is a recommend Markdown edit for Hexo !"
### If you used Hexo, [HexoEditor](https://github.com/zhuzhuyule/HexoEditor) will be your choice !

# <div align="center"><a title="Go to homepage" href="https://github.com/zhuzhuyule/HexoEditor"><img align="center" width="56" height="56" src="https://raw.githubusercontent.com/zhuzhuyule/HexoEditor/master/icons/HexoEditor.svg?sanitize=true">  HexoEditor</div></a>
<div align="right">Language: :us:

[2018-01-11 15:10] sskim91 commented on #468
I have same error.. :(

[2018-01-16 01:33] berniechiu commented on #468
@wangyeming
I use node stable version and reinstall grunt works fine afterwards, hope if this helps

[2018-01-16 08:31] jianlingyi opened #471 "Add my blog into the showcase"
Hey, add my blog into the showcase:

[2018-01-17 15:33] sskim91 commented on #468
@berniechiu
Thank you!
I reinstall node stable version it works fine!

[2018-01-24 23:03] snoopy21 opened #472 "scrset in gallery"
**Configuration**
    Operating system with version :
    Windows 10
    Node version :
    v9.3.0
    Hexo version :
    3.4.4
    Hexo-cli version :
    1.0.4
    Tranquilpeak version :
    1.11.0

I'm trying out to integrate responsive images into the gallery - fancybox seems to support this. I edited layout\_partial\post\gallery.ejs with something like `data-srcset="<%= photo.original2x %> 204

[2018-01-29 12:18] zyzyz opened #474 "<p> nested in <li> has an unexpected margin"
### Configuration

 - **Operating system with version** :  Windows 7 64bit
 - **Node version** : v6.11.4
 - **Hexo version** : 3.3.9
 - **Hexo-cli version** : 1.0.3
 - **Tranquilpeak version** : 1.11.0 Modified

### Actual behavior
The default behaviour of Markdown is to wrap the list items in \<p\> tags if list items are separated by blank lines, this leads to an annoying margin in this theme.
![

[2018-02-08 20:56] markgenest opened #475 "Netlify Not Generating Assets Folder"
### Configuration

 - **Operating system with version** : WIndows 10 Pro 1709 16299.214
 - **Node version** : 6.9.5
 - **Hexo version** : 3.5.0
 - **Hexo-cli version** : 1.0.4
 - **Tranquilpeak version** :  [hexo-theme-tranquilpeak-built-for-production-1.11.0](https://github.com/LouisBarranqueiro/hexo-theme-tranquilpeak#quick-start)

### Actual behavior
On both production and development versions,

[2018-02-09 19:09] bangalorebits opened #476 "Add my blog into the showcase"
Excellent theme. Simple & functional. Please do add my blog into the showcase.

[2018-02-10 10:08] sherry0429 opened #477 "gitment can't initlized"
thanks your theme about hexo, it's very great,
but i want to use gitment in this blog, when i install gitment and make config in _confg.xml,
i can login in github account in article, but i can't comment

when i click 'Issue Page', it's show url is :https://sherry0429.github.io/2018/02/10/helloworld/undefined
i guess it's should be https://sherry0429.github.io/issues?

can you help me?

thanks

[2018-02-11 05:16] #477 closed

[2018-02-11 23:16] markgenest commented on #475
Finally fixed the issue!

### Steps to fix the issue
- Delete `assets `folder in theme `.gitignore`
- Smack self upside the head

[2018-02-24 15:30] SergeyPodgornyy opened #479 "Structured data - missing required fields"
### Configuration

 - **Operating system with version** : all
 - **Node version** : all
 - **Hexo version** : latest
 - **Hexo-cli version** : latest
 - **Tranquilpeak version** : original

### Actual behavior

Missing required fields in schema.org markdown. Google related manual could be found [here](https://developers.google.com/search/docs/data-types/article#article_types).

![structured_data](

[2018-02-25 14:36] youngmeng opened #480 "Title Size"
Hi, I just want to know how to change the font size of title text?

[2018-02-27 11:40] PLDaily opened #481 "Where can I see the demo configuration information"
Where can I see the [demo](http://louisbarranqueiro.github.io/hexo-theme-tranquilpeak/) configuration information ?

[2018-02-28 19:59] LouisBarranqueiro commented on #480
👋 @youngmeng , you have to edit the theme. Check [developer doc](https://github.com/LouisBarranqueiro/hexo-theme-tranquilpeak/blob/master/docs/developer.md) to know how to install the necessary, edit and rebuild the theme.

[2018-02-28 20:01] LouisBarranqueiro commented on #481
👋 @PLDaily, only blog posts are available here: [source-blog-posts](https://github.com/LouisBarranqueiro/hexo-theme-tranquilpeak/tree/source-blog-posts)

What do you want to know? I will tell you :)

[2018-02-28 20:04] LouisBarranqueiro commented on #479
👋 @SergeyPodgornyy, these metadata are present in post pages but it seems that Google does not find them. I'll take a look at it.

[2018-02-28 20:05] LouisBarranqueiro commented on #476
👋 @bangalorebits, I need the url of your blog 😄  Thanks for using this theme!

[2018-02-28 20:05] #476 closed

[2018-03-01 02:53] PLDaily commented on #481
I saw the showcase and build my blog. very nick theme. thanks

[2018-03-01 10:11] SergeyPodgornyy commented on #479
:wave:  @LouisBarranqueiro
It's possible to fix with adding `JSON-LD code` to rendered page. As an example, which will be valid for Google:

[code]

[2018-03-01 16:35] youngmeng commented on #480
@LouisBarranqueiro Thank you very much.

[2018-03-01 16:36] #480 closed

[2018-03-08 08:36] #481 closed

[2018-03-08 08:49] #470 closed

[2018-03-08 08:50] LouisBarranqueiro commented on #471
👋 @jianlingyi, Thanks  for using this theme.

[2018-03-08 08:50] #471 closed

[2018-03-08 08:58] LouisBarranqueiro commented on #468
👋 guys, I'm going to update dependencies, so users will use local grunt instead of global grunt.

[2018-03-08 09:07] LouisBarranqueiro commented on #472
👋 @snoopy21, it should do the job. Did you regenerate the site?

[2018-03-08 09:09] LouisBarranqueiro commented on #474
👋 @zyzyz, sounds good to me. Do you want to create a pull request?

[2018-03-08 09:21] LouisBarranqueiro commented on #475
👋 @markgenest, Good news! 👍

[2018-03-08 09:21] #475 closed

[2018-03-08 10:06] zyzyz commented on #474
@LouisBarranqueiro
with pleasure. #482

[2018-03-11 22:19] snoopy21 commented on #472
@LouisBarranqueiro hmm, no it did not work. I'm also missing all the div's with `class="photo-box"`. My gallery begins with `{% image fancybox fig-50 group`

[2018-03-12 03:55] LouisBarranqueiro commented on #472
you are mistaking gallery images and basic images.

Images gallery is defined in the front-matter:
[code]

Basic images are defined in the body:
[code]

Here you changed the code of the images gallery. So it does not affect basic images. You have to change the code of the **image** tag in `./scripts/tags/image.js`.

What are you trying to do exactly? It could be interesting to update the theme :)

[2018-03-14 05:45] anbuchelva opened #483 "Render Blocking CSS"
### Configuration

 - **Operating system with version** : All
 - **Node version** :  All
 - **Hexo version** : All
 - **Hexo-cli version** : All
 - **Tranquilpeak version** : Not modified

### Actual behavior
PSI estimates this page requires 1 additional round trips to load render blocking resources and 0.3 MB to fully render. The median page requires 4 round trips and 3.4 MB. Fewer round trips an

[2018-03-14 06:36] LouisBarranqueiro commented on #463
👋 @minchaowu, I cannot reproduce this bug. Could you please add the front-matter of your post?
Did you try to uninstall then re-install dependencies?
Did you try to clean cached file with `hexo clean` then `hexo g`?

[2018-03-14 16:06] minchaowu commented on #463
@LouisBarranqueiro I should have come back to this early -- it has been fixed by upgrading node version from 4.2.6 to 9.8.0. I was pretty sure it has nothing to do with the cached files as I've tried `hexo clean` several times. Thanks for the help, and sorry about the delay.

[2018-03-14 16:06] #463 closed

[2018-03-14 17:25] LouisBarranqueiro commented on #463
Happy to hear that. I'm going to update required node version to the latest node LTS version.

[2018-03-18 04:59] LouisBarranqueiro commented on #479
@SergeyPodgornyy Thanks for your suggestions

[2018-03-18 07:32] LouisBarranqueiro commented on #483
👋 @anbuchelva

It looks completely normal to me. Do you have a real issue behind this?

This tool gives you guidelines to optimize pages loading time. Here, it tells you pages need a CSS file before rendering; which make sense because we don't want to display pages without any CSS. You can't remove this warning because your site has at least one main CSS file which is required before rendering.

I

[2018-03-18 07:47] LouisBarranqueiro commented on #351
👋 @kakawait, I wanted to work on it but I didn't manage to reproduce this bug. What about you? Maybe the latest Chrome version "fix" this issue.

[2018-03-19 08:44] #479 closed

[2018-03-19 08:44] #468 closed

[2018-03-19 08:44] #474 closed

[2018-03-20 03:20] bitpeach opened #484 "Questions about some detailed settings"
### Preface
- Thank you for reading this issue. I feel sorry to disturb you for that I am a newbie firstly using both `Hexo` and `tranquilpeak`. Thank you for the design of `hexo-theme-tranquilpeak` to benefit us. :thumbsup: :raised_hands:
- I was confused that I always failed to implement page functions after I referred to some tutorials. Maybe I cannot follow your tutorial correctly. :sob:  :joy

[2018-03-20 03:41] LouisBarranqueiro commented on #484
👋 @bitpeach,  we have a chat! 😄  That's one of the first thing displayed in the README. Come here: https://gitter.im/LouisBarranqueiro/hexo-theme-tranquilpeak.

[2018-03-25 12:54] bitpeach commented on #484
New messages.
The questions above have been solved partially.

#### (1) Favicon
In the local computer debugging, the icon file of the favicon is located in the `tranquilpeak\source\assets\images\` and you should set the fields in the `_config.yml` of theme documents. We cannot see the favicon on the webpage tag when you are in the local debugging. However, keeping this way, you can see the favicon

[2018-04-08 09:15] zyzyz opened #487 "sometimes link in alert doesn't shift to next line properly"
### Configuration

 - **Operating system with version** : Windows 7 64bit
 - **Node version**: v6.11.4
 - **Hexo version**: 3.3.9
 - **Hexo-cli version**: 1.0.3
 - **Tranquilpeak version**: 1.11.0 Modified

### Actual behavior
For some links it's wrong:
![image](https://user-images.githubusercontent.com/7401846/38465480-be28870a-3b4e-11e8-8b5f-a2792c73a19e.png)
![image](https://user-images.githubu

[2018-04-11 17:37] verlanmar opened #488 "Netlify deployment"
Hi Louis!

### Configuration

 - **Operating system with version** : Netlify (linux-x64)
 - **Node version**: 8.11.1
 - **Hexo version**: 3.7.1
 - **Hexo-cli version**: 1.1.0
 - **Tranquilpeak version**: 2.0.0 original, built for production
 - **Hexo plugin**: hexo@3.7.1, hexo-generator-archive@0.1.5, hexo-generator-category@0.1.3, hexo-generator-index@0.2.1, hexo-generator-tag@0.2.0, hexo-rendere

[2018-04-29 10:15] venbaa commented on #483
I'm a noob user, have very little knowledge developing web pages.

when i check the google page [insights](https://developers.google.com/speed/pagespeed/insights/?url=https%3A%2F%2Ftsttc.pw&tab=desktop), i get 94/100 for mobile and 96/100 for desktop, which is very good. However, i wanted to increase the page score further, for which i have raised this issue.

Pls close, if it is normal.
thanks fo

[2018-04-29 10:17] anbuchelva commented on #483
I'm a noob user, have very little knowledge developing web pages.

when i check the [google page insights](https://developers.google.com/speed/pagespeed/insights/?url=https%3A%2F%2Ftsttc.pw&tab=mobile), i get 94/100 for mobile and 96/100 for desktop, which is very good. However, i wanted to increase the page score further, for which i have raised this issue.

Pls close, if it is normal.
thanks for

[2018-04-29 18:33] LouisBarranqueiro commented on #483
yes, it's completely normal :)

[2018-04-29 18:33] #483 closed

[2018-05-10 08:55] AFeng521web commented on #244
hi! this bug is why
ERROR Script load failed: themes\love\scripts\tags\tabbed_codeblock.js
Error: Cannot find module 'jsdom'
    at Function.Module._resolveFilename (module.js:547:15)
    at Function.Module._load (module.js:474:25)
    at Module.require (module.js:596:17)
    at require (G:\Blog\blog\node_modules\hexo\lib\hexo\index.js:219:21)
    at G:\Blog\blog\themes\love\scripts\tags\tabbed_co

[2018-05-10 09:16] AFeng521web commented on #244
I use follow command
1.git clone  git clone https://github.com/LouisBarranqueiro/hexo-theme-tranquilpeak.git themes/tranquilpeak
2.hexo g
3.hexo d
4.hexo s
tranquilpeak is my very favourite theme

[2018-05-20 14:43] jiacai2050 opened #489 "clojure syntax highlight support"
### Configuration

 - **Operating system with version** :
 - **Node version**:
 - **Hexo version**:
 - **Hexo-cli version**:
 - **Tranquilpeak version**:
 - **Site configuration file** (Optional):
 - **Theme configuration file** (Optional):
 - **Hexo plugin** (Optional):

### Actual behavior

https://github.com/LouisBarranqueiro/hexo-theme-tranquilpeak/blob/master/source/_css/themes/_hljs-tranquil

[2018-05-25 07:30] hilen opened #490 "Gitalk support?"

[2018-05-25 18:06] anbuchelva commented on #488
@verlanmar can you share your repo? i would like to understand what command you are using to build the site using netlify.

I was able to build it successfully, but tried integrating netlify-cms, but the page's style is overlapping netlify cms's

![screenshot 13](https://user-images.githubusercontent.com/5076760/40559439-663f63e2-6074-11e8-9059-9b61442216bf.png)

[2018-06-01 22:33] LouisBarranqueiro commented on #487
👋 @zyzyz , I'm on it

[2018-06-01 22:37] LouisBarranqueiro commented on #488
Hey @verlanmar, Sorry for the late response. It's because Netlify is reading `.gitignore` file and ignoring `source/assets` folder where all files are uploaded. Remove `.gitignore` file before deploying your site and it should be good. See more here : https://github.com/LouisBarranqueiro/hexo-theme-tranquilpeak/issues/475

[2018-06-01 22:37] #488 closed

[2018-06-01 22:44] LouisBarranqueiro commented on #489
👋 @jiacai2050, I'm on it.

[2018-06-01 22:47] LouisBarranqueiro commented on #490
👋 @hilen,  we already support Gitment. What are the pros compared to Gitment.

[2018-06-01 22:49] #351 closed

[2018-06-01 22:55] LouisBarranqueiro commented on #472
I don't think so we can do that. Hexo API is so poorly documented 😢

[2018-06-01 22:55] #472 closed

[2018-06-01 23:17] jiacai2050 commented on #489
👍Thanks

[2018-06-02 11:54] anbuchelva commented on #475
I had build my site using netlify without any issues.  I did not add the theme as sub module, instead i download the [production release](https://github.com/LouisBarranqueiro/hexo-theme-tranquilpeak/releases/tag/v2.0.0) on [the fly](https://github.com/anbuchelva/blog/blob/036fe88c039bdaeec7f227429dbbe06a246ae87a/build_theme.sh#L3) and copy the [theme customization](https://github.com/anbuchelva/bl

[2018-06-04 03:54] hilen commented on #490
Gitment is no longer update. I like Gitalk's UI.

[2018-06-09 08:18] zyzyz opened #491 "code blocks inside alert tag cannot be rendered normally"
### Configuration

 - **Operating system with version** : Windows 7 64bit
 - **Node version**: v6.11.4
 - **Hexo version**: 3.3.9
 - **Hexo-cli version**: 1.0.3
 - **Tranquilpeak version**: 1.11.0 Modified

### Actual behavior
If I add a code block in a alert tag block the code block will be rendered incorrectly (an "undefined" is shown).
Inline code Markdown syntax seems to be working as normal.

[2018-06-17 03:06] LouisBarranqueiro commented on #491
👋 @zyzyz ,

It's an issue from `hexo.render.renderSync` function.

I suggest you to report this issue on their repository and use this syntax until it gets fixed.
[code]

[2018-06-17 03:06] #491 closed

[2018-06-17 03:08] LouisBarranqueiro commented on #410
I'm closing this one for now since only a very few people want it.

[2018-06-17 03:08] #410 closed

[2018-06-18 02:44] bitpeach commented on #484
Thank you. The questions above are almost solved. Please close this issue.

Thank you for your help.

[2018-06-18 02:44] #484 closed

[2018-06-21 11:14] YoshinoriN opened #492 "Migrate FontAwesome5.x ?"
Hi. Do you have a plan to migrate FontAwesome5.x?

[2018-06-22 01:38] YoshinoriN commented on #492
@LouisBarranqueiro Would you like a hand?

[2018-07-06 15:04] jcayzac opened #493 "Can't build"
### Configuration

 - **Operating system with version** : macOS 10.13.5
 - **Node version**: 10.5.0
 - **Hexo version**: 3.2.0
 - **Hexo-cli version**: 1.1.0
 - **Tranquilpeak version**: 2.0.0 original

### Actual behavior
[code]

### Expected behavior
Build completes without error.

### Steps to reproduce the behavior
[code]

[2018-07-07 02:15] jcayzac commented on #493
More logs…

[code]

[2018-07-07 02:17] jcayzac commented on #493
And the actual error
[code]

[2018-07-08 17:42] LouisBarranqueiro commented on #492
👋 I'll do it this WE :)

[2018-07-08 18:33] LouisBarranqueiro commented on #493
👋 @jcayzac, This is related to the Node v10 version. It works well with v6 and v8. Thanks for the tip. I'm gonna update this package. 👍

[2018-07-09 01:31] #487 closed

[2018-07-09 01:31] #489 closed

[2018-07-09 01:31] #493 closed

[2018-07-09 01:31] #492 closed

[2018-07-15 10:58] HEskandari opened #494 "Error when switching from default hexo theme"
### Configuration

Hexo blog out of the box (the following versions):

hexo: 3.7.1
hexo-cli: 1.1.0
os: Darwin 17.6.0 darwin x64
http_parser: 2.7.0
node: 8.7.0
v8: 6.1.534.42
uv: 1.15.0
zlib: 1.2.11
ares: 1.10.1-DEV
modules: 57
nghttp2: 1.25.0
openssl: 1.0.2l
icu: 59.1
unicode: 9.0
cldr: 31.0.1
tz: 2017b

 - **Tranquilpeak version**: not modified, v3 downloaded from the release page

### Actual beh

[2018-07-15 11:13] HEskandari commented on #494
Found out that the issue was how the keywords were being rendered. Changing them according to [this](https://github.com/LouisBarranqueiro/hexo-theme-tranquilpeak/blob/master/DOCUMENTATION.md#define-global-keywords) fixed the issue.

[2018-07-15 16:53] LouisBarranqueiro commented on #494
:wave: @HEskandari

Yes, `keywords` are a list of string. Great that you solved this by yourself.

[2018-07-15 16:53] #494 closed

[2018-07-17 09:43] miranoisora opened #495 "How to change the font and max width of post content"
### Configuration

 - **Operating system with version** : Windows10
 - **Node version**: 8.11.2
 - **Hexo version**: 3.7.1
 - **Hexo-cli version**: 1.1.0
 - **Tranquilpeak version**: 2.0.0

Hi, @LouisBarranqueiro
I want to change the font and max-width of post content. I read  `DOCUMENTATION.md` and it said this can be done in `source/_css/utils/_variables.scss` file.

I modified `source/_css/util

[2018-07-18 05:43] marikid commented on #495
Seems like you haven't rebuild the theme.
Head to `themes/tranquilpeak` and run `npm install` then `grunt buildProd`, and you should expect the changes.
Feel free to ask more.

BTW, sticky table of contents, IMHO, destory the page's conciseness. You won't read the table of contents over and over again while you're reading a book, right?

[2018-07-19 07:43] eppfel opened #496 "Missing remove icon in about card"
### Configuration

 - **Operating system with version** : macOS 10.12.6
 - **Node version**: v8.11.1
 - **Hexo version**: 3.2.2
 - **Hexo-cli version**: 1.0.4
 - **Tranquilpeak version**: 3.0.0 (checked unmodified and modified version)

<img width="817" alt="screen shot 2018-07-19 at 10 29 51" src="https://user-images.githubusercontent.com/1899308/42928471-05a06fb2-8b40-11e8-86fc-9a76873e1e28.png"

[2018-07-19 13:32] marikid commented on #496
Same problem for the close button in share options.
![](https://i.loli.net/2018/07/19/5b5090bc823b2.png)
Line to change:
https://github.com/LouisBarranqueiro/hexo-theme-tranquilpeak/blob/f6432960e50ac5b303a484de395478e35bd5bfdb/layout/_partial/post/share-options.ejs#L2

[2018-07-19 15:43] miranoisora commented on #495
@marikid Thank you, it works!
Maybe you are right, it will destroy the conciseness indeed.

[2018-07-19 15:43] miranoisora commented on #495
BTW, the top/bottom bar is too easy to show up now. Especially when using cellphone, any tiny scroll up will let the top/bottom bar appear. Sometimes we just touch the screen by casual and the bar will be annoying. In this point, I think Safari App is a good example. I don't know whether web page can perform like that...

[2018-07-19 17:13] marikid commented on #495
These lines determine the sensitivity, you can manually change them:
https://github.com/LouisBarranqueiro/hexo-theme-tranquilpeak/blob/f6432960e50ac5b303a484de395478e35bd5bfdb/source/_js/header.js#L15
https://github.com/LouisBarranqueiro/hexo-theme-tranquilpeak/blob/f6432960e50ac5b303a484de395478e35bd5bfdb/source/_js/post-bottom-bar.js#L15
However the page didn't work as I expected: scroll up cert

[2018-07-19 18:09] marikid opened #498 "Scroll delta doesn't work as expected"
### Configuration

 - **Operating system with version** : Windows 10
 - **Node version**: 8.11.3
 - **Hexo version**: 3.7.1
 - **Hexo-cli version**: 1.1.0
 - **Tranquilpeak version**: 3.0.0

### Actual behavior/Steps to reproduce the behavior

Change the values below to something else, like 50:

https://github.com/LouisBarranqueiro/hexo-theme-tranquilpeak/blob/f6432960e50ac5b303a484de395478e35bd5b

[2018-07-22 19:41] #495 closed

[2018-07-22 19:42] LouisBarranqueiro commented on #495
Thanks @marikid for your help! :)

[2018-07-23 03:53] LouisBarranqueiro commented on #498
👋 @marikid, could you give a try with this new version (`dev` branch) and let me know if it looks good to you? :)

[2018-07-23 04:29] marikid commented on #498
Yeah, almost perfect! Maybe I thought too much, it doesn't have to be this complex.

[2018-07-23 04:29] #498 closed

[2018-07-23 05:14] LouisBarranqueiro commented on #498
How would you do it simpler? :)

[2018-07-30 07:49] #496 closed

[2018-10-03 01:00] karthikchintala1 opened #504 "Cannot run the blog with tranquilpeak"
### Configuration

 - **Operating system with version** :  Windows 10
 - **Node version**: 8.9.0
 - **Hexo version**: 3.7.1
 - **Hexo-cli version**: 1.1.0
 - **Tranquilpeak version**:  original
 - **Site configuration file** (Optional):
 - **Theme configuration file** (Optional):
 - **Hexo plugin** (Optional):

### Actual behavior
I'm getting a script error when ran hexo server command
`ERROR Scri

[2018-10-03 06:58] karthikchintala1 commented on #504
Figured out that I have to install jsdom, jquery. So, went into themes folder and ran `npm install` to install and its working.

But the styles on the page are not displaying properly. Not sure of the cause. Will log another issue

[2018-10-03 06:58] #504 closed

[2018-10-03 09:18] karthikchintala1 opened #505 "assets folder not generated in localhost"
### Configuration

 - **Operating system with version** : Windows 10
 - **Node version**: v8.12.0
 - **Hexo version**: 3.7.1
 - **Hexo-cli version**: 1.1.0
 - **Tranquilpeak version**: 3.0.1
 - **Site configuration file** (Optional):
 - **Theme configuration file** (Optional):
 - **Hexo plugin** (Optional):

### Actual behavior
Cannot see the home page design except raw html content.

As I looked

[2018-10-03 10:49] karthikchintala1 commented on #505
Oh I've downloaded the source folder instead of prod zip

[2018-10-03 10:49] #505 closed

[2018-10-20 05:01] jungjoongi opened #507 "I found an issue with this line."
https://github.com/LouisBarranqueiro/hexo-theme-tranquilpeak/blob/0ac4c104d2fe8ac60852a9d27600649bd4f199a0/package.json#L10

"grunt": " ./node_modules/grunt-cli/bin/grunt",
---->
"grunt": "node ./node_modules/grunt-cli/bin/grunt",

This requires the node command.
If there is no node command, I got a build error.
ex) npm run prod --> error

I am sorry to speak in my poor English

(I work in the Win

[2018-10-20 22:44] LouisBarranqueiro commented on #507
👋 @jungjoongi , it's going to be fixed and released soon. https://github.com/LouisBarranqueiro/hexo-theme-tranquilpeak/pull/506

[2018-10-21 13:10] Sosha1996 opened #508 "style dosnt load"
i use gitlab and forked hexo from https://gitlab.com/pages/hexo. remove relationship and change name project and path to sosha.gitlab.io.

i changed `root: "/hexo/"` to `root: "/"` in **`_config.yml`**

paste **tranquilpeak** to theme:
![image](https://user-images.githubusercontent.com/16008585/47267301-a5c33800-d54e-11e8-9298-b7e51df50b97.png)
and change `theme: landscape` to `theme: tranquilpeak

[2018-10-22 06:31] LouisBarranqueiro commented on #508
👋 @Sosha1996, make sure you run `npm install` in the theme folder and not in the blog folder, also make sure you delete the `.gitignore` of the theme file before uploading your site.

[2018-10-23 19:50] Inokinoki commented on #508
I used the released version and met the same error.
The assets folder is not generated in Travis building.

[2018-10-23 23:41] LouisBarranqueiro commented on #508
Did you build the theme with: `npm run prod` ? Make sure you read the documentation: https://github.com/LouisBarranqueiro/hexo-theme-tranquilpeak/blob/master/DOCUMENTATION.md#modifying-the-theme

[2018-10-25 01:00] Inokinoki commented on #508
Emmm... In fact, I used this tarball [3.0.1](https://github.com/LouisBarranqueiro/hexo-theme-tranquilpeak/releases/download/v3.0.1/hexo-theme-tranquilpeak-built-for-production-3.0.1.zip).
The node_modules are included.
When I run ``hexo generate``, there is no ``assets`` folder generated.
If I change to other themes, the style resources are loaded and generated.
My hexo and nodejs version:
[code]

[2018-10-27 22:53] LouisBarranqueiro commented on #508
That's weird. Download the latest version ready for production: [hexo-theme-tranquilpeak-built-for-production-3.0.1.zip](
https://github.com/LouisBarranqueiro/hexo-theme-tranquilpeak/releases/download/v3.0.1/hexo-theme-tranquilpeak-built-for-production-3.0.1.zip). Don't modify anything and run `hexo g` to check if the assets folder is generated

[2018-11-12 01:21] GuKaifeng opened #510 "I want the Mathjax and Loacl search in this themes!"
I think it's necessary mathjax and local search. Great author, we need you!

[2018-12-11 04:59] bmitchinson commented on #507
@jungjoongi if you checkout the dev branch, or copy my small changes in, this has been fixed in #506

Waiting for it to be merged into master

[2018-12-11 05:01] bmitchinson commented on #508
@Inokinoki @Sosha1996 did you ever find a resolution to this? I'd like help if needed, otherwise, we could close the issue.

[2018-12-13 16:40] lenmio opened #511 "valine support?"
https://valine.js.org/quickstart.html
disqus is banned in China

[2018-12-16 04:09] LouisBarranqueiro commented on #508
@Sosha1996  Feel free to re-open this issue

[2018-12-16 04:09] #508 closed

[2018-12-16 04:32] LouisBarranqueiro commented on #511
👋 @lenmio what's the most famous comment system in China. I would like to add the one that would be used the most and not all of them.

[2018-12-16 15:19] lenmio commented on #511
China's audits have made all this unusable
valine may be shut down at any time☹️

[2018-12-17 03:27] bmitchinson opened #512 "Empty "share-option-bar" displayed with "clear_reading" false"
### Configuration

 - **Operating system with version** : Windows 10
 - **Node version**: 8.11.2
 - **Hexo-cli version**: 1.1.0
 - **Tranquilpeak version**: Original: 3.0.1

### Actual behavior
When in full-screen view in a post page, a small (appears to be 1 px tall) white line appears across the bottom of the screen. Upon inspection of the element, the browser console reveals it's actually the "

[2018-12-17 05:38] bmitchinson opened #513 "Overflow codeblock formatting"
### Configuration

 - **Operating system with version** : Windows 10
 - **Node version**: 8.11.2
 - **Hexo-cli version**: 1.1.0
 - **Tranquilpeak version**: Original: 3.0.1

### Actual behavior
When wrapping a "tabbed_codeblock" in a div tag with overflow-y:scroll, the "br" tags that are inserted above and below the block force extra empty space in the scrollbar.

![image](https://user-images.gith

[2018-12-17 05:50] LouisBarranqueiro commented on #513
👋 @bmitchinson

What's the use case?

Could you please add the HTML code of these examples and also the code of your article.

It looks like an issue/behavior related to the Hexo plugin responsible for rendering pages and not the theme.

[2018-12-17 06:01] #512 closed

[2018-12-17 06:13] LouisBarranqueiro commented on #507
👋 guys, this is now fixed with https://github.com/LouisBarranqueiro/hexo-theme-tranquilpeak/releases/tag/v3.0.2

[2018-12-17 06:13] #507 closed

[2018-12-17 18:54] bmitchinson commented on #513
Here's a gif of the described problem, and me removing the parts myself in the dev tools of my browser.

The gif is resized small to fit in this convo, but if you open the source image, you should be able to see what I'm describing more clearly.

![2018-12-17_12-42-53](https://user-images.githubusercontent.com/33632286/50108203-473ad300-01fa-11e9-916f-ef3cd8b28b98.gif)

Code:
[code]

[2018-12-18 17:40] whuchenshuo opened #514 "How to achieve the frosted glass effect in post page like sidebar"
Thanks for the great theme:). I want to know how  to achieve the frosted glass effect in post page like sidebars.

[2018-12-18 22:14] LouisBarranqueiro commented on #514
👋 @whuchenshuo , @bmitchinson is right. Thanks for your help :)

[2018-12-18 22:14] #514 closed

[2018-12-22 21:46] bmitchinson opened #515 "Demo Site Links Broken"
### Actual behavior
https://louisbarranqueiro.github.io/hexo-theme-tranquilpeak/2014/10/29/Tags-plugins-showcase/#jsFiddle

* The jsFiddle section on the demo site implements a jsFiddle tag that isn't working?
* In addition, the "image" section's link to how to use the image tag in the documentation is damaged.

### Expected behavior
Proper links

### Steps to reproduce the behavior
Visit the demo

[2018-12-22 22:02] bmitchinson commented on #513
This also occurs when using a default (hexo made) "gist" tag 🤔
Does this confirm that it's not actually the theme that's causing the issue? Any idea how to go about it?

[2018-12-26 23:44] LouisBarranqueiro commented on #513
👍

[2019-01-04 18:52] bmitchinson opened #518 "Favicon not showing?"
### Configuration
    Operating system with version : Windows 10
    Node version: 8.11.2
    Hexo-cli version: 1.1.0
    Tranquilpeak version: Original: 3.0.1

### Actual behavior
After configuring my favicon in the theme config, it's still not showing up and I can't figure out why :(
here's my config. I put the favicon in both `source/_images/` and in `source/assets/images/`. Hopefully it will b

[2019-01-04 20:37] bmitchinson commented on #518
I'm dumb. Change to `favicon: assets/images/favicon.ico`. If anyone has this problem, use the browser developer tools, and you'll notice that it's requesting only `/favicon.ico/`. Should have used that in the first place to problem solve.

[2019-01-04 20:37] #518 closed

[2019-01-05 06:14] damarindra opened #519 "Changing font-size-base doesn't effect on Post"
### Configuration

 - **Operating system with version** :  Windows 10
 - **Node version**: 6.4.1
 - **Hexo version**: 3.3.8
 - **Hexo-cli version**: 1.1.0
 - **Tranquilpeak version**: 3.0.2

### Actual behavior
Changing font-size-base only change the index font size. On post page, the font size will stay the same, but the vertical spacing changing.

### Expected behavior
On post page, the font siz

[2019-01-06 17:03] 7pedroruizzz commented on #178
@LouisBarranqueiro

Hi, any way to group tags separately in the tagcloud?

For example in a blogpost I have:

[code]

And then from this generate two tagclouds with one having:
- hello
- hola
- ciao

and the second separate tagcloud having:
- red
- blue
- white

Possible?

Next step would be then to allow showing blogposts with 2 tags combined, for example "ciao + blue".

[2019-01-09 02:31] itpropro opened #520 "Images don't get rendered at index pages"
First, thank you very much for the hard work, I am really enjoying your theme as it provides really good extensibility.

### Configuration

 - **Operating system with version** : Windows 10 1809
 - **Node version**: 8.4.0
 - **Hexo version**: 3.8.0
 - **Hexo-cli version**: 1.1.0
 - **Tranquilpeak version**: Original
 - **Site configuration file** (Optional):
- post_asset_folder: true
- relative_li

[2019-01-09 04:57] bmitchinson opened #521 "Change "Scroll to top" icon"
How do I change this icon:
![image](https://user-images.githubusercontent.com/33632286/50877631-51369880-1398-11e9-8df3-5522ec152b59.png)

To a different font awesome icon, [like this one](https://fontawesome.com/icons/chevron-circle-up?style=solid).

I'd like a symbol that represents more clearly that a click will take you to the top of the page.

Looks like the theme is currently using [this one

[2019-01-09 22:35] itpropro commented on #521
You would just have to edit line 64 in the `action.ejs` file located in `tranquilpeak\layout\_partial\post`.
I changed the following lines to reproduce your problem and it worked without any problem:
[code]
changed to
[code]

[2019-01-09 23:50] bmitchinson commented on #521
@itpropro Thanks so much! Don't know why my search didn't turn up the action.ejs file in the first place 🤔

[2019-01-09 23:50] #521 closed

[2019-01-19 22:57] ccapasso01 opened #523 ".gitignore error"
### Configuration

 - **Operating system with version** :  macOS Mojave
hexo-cli: 1.1.0
os: Darwin 18.0.0 darwin x64
http_parser: 2.8.0
node: 8.11.3
v8: 6.2.414.54
uv: 1.19.1
zlib: 1.2.11
ares: 1.10.1-DEV
modules: 57
nghttp2: 1.32.0
napi: 3
openssl: 1.0.2o
icu: 60.1
unicode: 10.0
cldr: 32.0
tz: 2017c
 - **Tranquilpeak version**: Original
 - **Site configuration file** (Optional):
 - **Theme config

[2019-01-22 14:07] ccapasso01 commented on #523
@LouisBarranqueiro  - Thanks for that.  Maybe I am doing something incorrect.  Here is what I have been doing:

1. My repo is cloned to my computer and opened in VSCode.
2. I installed your theme and modified as necessary.
3. I then push my cloned repo back to my master branch on gitlab (using that instead of github).
4. This triggers a pipeline to run automatically using the following:

[code]

5

[2019-01-22 20:43] LouisBarranqueiro commented on #523
You forgot to build the theme, You can find this information here: https://github.com/LouisBarranqueiro/hexo-theme-tranquilpeak/blob/master/DOCUMENTATION.md#modifying-the-theme

But you basically need to:
[code]

[2019-01-22 20:47] ccapasso01 commented on #523
Ok, I'll have to give that a try.  Your guide says:

Run `hexo s` then `npm run start` and start coding :)
Save changes

I tried doing that in VSCode but it failed.  Likely because I didn't `cd` into the themes directory

[2019-01-22 20:50] LouisBarranqueiro commented on #520
👋 @itpropro I'm not sure what you meant with

They get rendered in the post itself.
With asset_img the links work fine.

but all HTML tags are stripped from the excerpt to be displayed on the index page. It's a desired behavior.

[2019-01-22 21:03] LouisBarranqueiro commented on #519
👋 @damarindra, the content of a post has its own rules, update rules in `_post.scss`, if you want to change the font-size

[2019-01-23 13:03] damarindra commented on #519
Ouh, many thanks!

[2019-01-26 09:39] itpropro commented on #520
Hello,
this is a bug from my perspective, as this also applies to pictures mentioned before the more tag or in articles that don't have excerpt or more tag at all. The desired hexo behavior is the one you get when you use the asset_img tag. The problem is that if you use the image tag, the generator doesn't get the right asset path. The url resolve logic of the image tag doesn't work the same as t

[2019-01-31 12:45] sj602 opened #524 "Can't build"
### Configuration

 - **Operating system with version** : MacOS Mojave 10.14.2
 - **Node version**: Node 10.15.1
 - **Hexo version**: Hexo 3.7.1
 - **Hexo-cli version**:
 - **Tranquilpeak version**:  2.0.0(modified)
 - **Site configuration file** (Optional):
 - **Theme configuration file** (Optional):
 - **Hexo plugin** (Optional):
 themes/tranquilpeak
├── @fancyapps/fancybox@3.2.5
├── eslint@4.18

[2019-03-10 05:04] #510 closed

[2019-03-10 05:04] #519 closed

[2019-03-10 05:10] LouisBarranqueiro commented on #520
👋 @itpropro, sorry for the late response. Could you please post here:
- the code of your article (formatted)
- the rendered HTML code (formatted)

so I can debug this.

[2019-03-10 05:13] LouisBarranqueiro commented on #524
👋 @sj602, sorry for the late response.

`npm run start`: it builds the theme and watches for changes to build it.
`npm run build`: it builds the theme and exit

[2019-03-10 05:13] #524 closed

[2019-03-10 05:16] LouisBarranqueiro commented on #523
we can solve that here. You just need to go to your project and run this code using the Terminal app.

[2019-03-10 05:19] LouisBarranqueiro commented on #515
👋 @bmitchinson , thanks for letting me know. I will take care of that 👍

[2019-03-10 05:24] LouisBarranqueiro commented on #511
👋 @lenmio , Things have changed? Is there any comment system allowed for now?

[2019-03-11 21:17] bmitchinson commented on #515
@LouisBarranqueiro thanks!

Would you consider moving this information to a site that's open source? Then we could update it as needed.

[2019-03-12 05:17] LouisBarranqueiro commented on #515
It's open sourced here: https://github.com/LouisBarranqueiro/hexo-theme-tranquilpeak/tree/source-blog-posts

but I take care of deploying the demo website, this branch is just read-only.

This happens because the GH pages are under HTTPS and the JSFiddle iframe is under HTTP so it's blocked. I'm gonna PR on Hexo to fix `jsfiddle` Hexo tag.

[2019-03-12 05:17] #515 closed

[2019-03-12 16:35] bmitchinson commented on #515
oh great, thanks for filling me in. can u link that PR?

[2019-03-16 19:11] bmitchinson opened #528 "Search displays results as "undefined""
### Configuration

 - **Operating system with version** : Windows_NT 10.0.17134 win32 x64
 - **Node version**:  10.14.2
 - **Hexo-cli version**: 1.1.0
 - **Tranquilpeak version**: Original

### Actual behavior
Search returns no results, even though Algolia seems to be working fine.

### Expected behavior
Search should display the returned results on screen

### Details
All info is essentially [in

[2019-03-17 19:29] bmitchinson commented on #528
![image](https://user-images.githubusercontent.com/33632286/54496766-12a1ea80-48c1-11e9-8ce9-0d5ac3fa0918.png)

New github feature that lets you transfer issues? Maybe check that out if you have the option to @LouisBarranqueiro

[2019-03-20 06:38] LouisBarranqueiro commented on #528
👋 @bmitchinson,

I checked your blog, tested the search and here is the response of the search returned by Algolia.

[code]
As you can see, the `thumbnailImageUrl` and the `excerpt` values are not there. You might want to check what you indexed. As a reminder, here are the fields you want to index:
[code]

Once these fields will be indexed and returned by Algolia, the search will work correctly.

[2019-03-22 22:13] bmitchinson commented on #528
@LouisBarranqueiro I really appreciate your help with this, thank you! Fixed.
(I needed to re-run the alogia index... really sorry to have wasted your time.)

If anyone else comes across this issue, just make sure your main hexo config fields for algolia match what he described above, then re run `hexo algolia` after a `hexo clean`.

[2019-03-22 22:13] #528 closed

[2019-03-22 22:30] LouisBarranqueiro commented on #528
good news 🎉. No worries, it was not specified in the documentation. I will update it :)

[2019-04-08 08:20] ChadDongDongChen opened #529 "hexo g error"
![image](https://user-images.githubusercontent.com/20555258/55709099-23ee9a80-5a1a-11e9-88f3-e27607adfa58.png)

[2019-04-14 04:20] bmitchinson commented on #529
In the future, please fill out the template that you instead deleted, and avoid sending large screenshots. Would be easier to help if you fill out the requested information, and paste the error as text. I'll do my best to help out though 👍

Searching for jsdom issues in the context of tranquilpeak gave this result #244 , i'd look there, the bottom post helps.

[2019-04-14 05:12] bmitchinson opened #530 "Grunt High Vulnerability Issue"
### Configuration

 - **Operating system with version** : Windows_NT 10.0.17134 win32 x64
 - **Node version**:  10.14.2
 - **Hexo-cli version**: 1.1.0
 - **Tranquilpeak version**: Original

NPM Audit reports this high vulnerability within grunt

![image](https://user-images.githubusercontent.com/33632286/56088578-8b0cb480-5e49-11e9-9151-3d9aadba9551.png)

[2019-04-14 05:17] bmitchinson opened #531 "Duplicate package.json scripts"
Why are npm build and npm prod and npm grunt all a thing?

Isn't build a duplicate? Is that there for convenience ?

![image](https://user-images.githubusercontent.com/33632286/56088638-91e7f700-5e4a-11e9-993e-3c09d1548e50.png)

[2019-04-19 00:06] fletchto99 opened #532 "Lazyload images"
Currently loading a blog post with many images can take quite some time to load. I think it would be ideal to lazy-load images in the fancybox gallery at the end. For example my post: https://blog-test.fletchto99.com/2019/april/tomorrowland/ takes ~10s to load. I could probably shrink the images down to allow for faster load times but I think lazy loading would also be ideal. I'll see if I can get

[2019-04-19 00:14] fletchto99 commented on #490
I don't really have the time to help implement this but I'd like to +1 it.

[2019-04-26 08:14] fletchto99 commented on #490
Took a first pass at implementing this today: https://github.com/LouisBarranqueiro/hexo-theme-tranquilpeak/pull/533

[2019-04-26 08:24] fletchto99 commented on #511
Is GitHub supported in china? I just opened a PR which implements Gitalk. Perhaps that will solve your issue? Can you load/see the comments on my blog at: https://blog.fletchto99.com?

[2019-05-20 18:02] ShixiangWang opened #536 "Could this theme support gittalk?"

[2019-05-26 01:47] LouisBarranqueiro commented on #536
duplicate of #490

[2019-05-26 01:47] #536 closed

[2019-05-26 04:26] LouisBarranqueiro commented on #531
👋@bmitchinson, this is just for convenience so I can do everything with NPM scripts :)

[2019-05-26 04:26] #531 closed

[2019-05-26 04:29] LouisBarranqueiro commented on #530
👋 @bmitchinson , I took care of that in https://github.com/LouisBarranqueiro/hexo-theme-tranquilpeak/commit/be31455f77164041cb624690ed1f66412ae8d74e

[2019-05-26 04:34] LouisBarranqueiro commented on #529
👋 @ChadDongDongChen,

Please read this section https://github.com/LouisBarranqueiro/hexo-theme-tranquilpeak/blob/master/DOCUMENTATION.md#modifying-the-theme to install dependencies of the theme to fix this problem.

[2019-05-26 04:34] #529 closed

[2019-05-26 04:35] LouisBarranqueiro commented on #523
👋 @ccapasso01, did you manage to solve this issue?

[2019-05-26 04:41] LouisBarranqueiro commented on #520
@itpropro Feel free to re-open this issue with this information I need if you still have this problem. :)

[2019-05-26 04:41] #520 closed

[2019-05-26 04:41] #523 closed

[2019-05-26 04:44] LouisBarranqueiro commented on #511
👋 guys, let's focus on Gitalk which seems to be more popular. Thanks a lot for the PR @fletchto99 I will review that real soon.

[2019-05-26 04:44] #511 closed

[2019-05-26 05:08] LouisBarranqueiro commented on #532
👋 @fletchto99, thanks for pointing that out. I'm working on an improvement right now.

On this [page](https://developers.google.com/speed/pagespeed/insights/?url=https%3A%2F%2Fblog-test.fletchto99.com%2F2019%2Fapril%2Ftomorrowland%2F), the gallery contains 41 images and even if the gallery preview displays 3 images maximum, the theme still renders an `img` tag for each images. With the new version

[2019-05-26 21:34] fletchto99 opened #539 "Adding wordcount & readtime"
My [blog](https://blog.fletchto99.com/) uses a modified version of this theme which supports [hexo-wordcount](https://github.com/willin/hexo-wordcount) and shows the number of words as well as the time it takes to read the post. If you think this would be a cool feature to add I could set it up as a configuration option and submit a PR.

Here's an example (see below the title):

![Screen Shot 2019

[2019-05-26 22:44] fletchto99 commented on #532
I do believe this post is using thumbnail images however I'll wait for this change to be merged into master and I'll test it out.

[2019-05-27 00:20] bmitchinson commented on #539
Oo i love this thank you!

[2019-05-27 00:53] fletchto99 commented on #532
I think something like https://github.com/Robin-front/hexo-lazyload would be pretty cool. I might give this a shot as well. I'll see how difficult it is to integrate into the theme.

[2019-05-27 01:18] LouisBarranqueiro commented on #539
👋 @fletchto99, displaying the number of words is IMO not interesting because the end goal is to have a reading time so users need to do some calculation to know how long it's going to take to read an article -> bad UX.

Sounds good about the reading time if the implementation is simple and efficient.

[2019-05-27 01:20] fletchto99 commented on #539
Hmm. I like to display the word count as well, what if we flagged both as an option in the configuration file?

[2019-05-27 03:25] bmitchinson commented on #539
I'd also like the word count, so having both in the config file would be preferable imo

[2019-05-27 08:53] fletchto99 opened #544 "Add SRI to CDN delivered scripts"
Since this theme pulls in multiple 3rd party scripts (disquis, gitment, gitalk, algolia, etc...) which are often delivered via CDN I think we should consider adding [SRI](https://developer.mozilla.org/en-US/docs/Web/Security/Subresource_Integrity). Especially for things like gitment which isn't delivered via a versioned CDN and could easily be changed by the author at any point.

Happy to add this

[2019-05-27 16:27] LouisBarranqueiro commented on #544
👋 @fletchto99 , that's a great idea!

[2019-05-27 19:52] fletchto99 commented on #544
I've begun this work in https://github.com/LouisBarranqueiro/hexo-theme-tranquilpeak/pull/545

[2019-05-30 23:42] bmitchinson commented on #539
@fletchto99 What's the status on adding these options to the config file? Debating bringing it into my own site if that's a planned feature.

[2019-05-30 23:43] fletchto99 commented on #539
I did open https://github.com/LouisBarranqueiro/hexo-theme-tranquilpeak/pull/541/

I'll get the config stuff sorted out tonight 🎉

[2019-05-31 04:55] bmitchinson opened #549 "Vulnerabiliy in using MomentJS 2.14.1"
### Actual behavior
Tranquilpeak is reliant on MomentJS 2.14.1, which introduced a Reg Ex DoS attack vulnerability. [Details here](https://snyk.io/test/npm/moment/2.14.1), a version bump is needed.

### Expected behavior
No vulnerabilities when using a tranquilpeak theme to build your website.

### Steps to reproduce the behavior
Start up tranquilpeak website and run a [lighthouse audit report](ht

[2019-05-31 05:13] fletchto99 commented on #549
I think because moment isn't part of the `package.json` the renovate bot won't pick it up. I'll open up a PR to fix this issue. This is also semi-related to the SRI work I've been doing.

[2019-06-02 00:38] fletchto99 commented on #549
https://github.com/LouisBarranqueiro/hexo-theme-tranquilpeak/pull/540 fixes this :)

[2019-06-04 22:44] rschaeuble opened #553 "Avoid Google Fonts due to GDPR"
Because of the [General Data Protection Regulation (GDPR)](https://en.wikipedia.org/wiki/General_Data_Protection_Regulation), using Google Fonts is a legal gray area. When the browser fetches a font, the user's IP is sent to Google. As the IP is considered personal information, this is a problem.

Some say it's OK as long as the site's privacy statement explains that Google Fonts is used. Others d

[2019-06-09 19:34] LouisBarranqueiro opened #554 "Reading time"
### Description
- **Option 1 (best):** Automatically calculate the reading time. The implementation will need to support all currently supported languages.
- **Option 2:** Add a `reading_time` variable in the front-matter of posts so users can manually enter the reading time of their posts.

Then the reading time will be displayed along with the other metadata:
<img width="783" alt="Screen Shot 20

[2019-06-09 19:38] LouisBarranqueiro commented on #539
@fletchto99  I replied to your PR:

Also regarding your point (@fletchto99):

I understand and that's why I open-sourced this theme so you can do what you want with it. However, I don't want to add this feature into the theme because :
- it does not improve UX
- only you asked for this. I can't add every single feature people want otherwise at the end of the day, the theme will no longer be minima

[2019-06-09 19:38] #539 closed

[2019-06-09 19:45] LouisBarranqueiro commented on #532
The most appropriate way to add such a feature would be to improve the `image` and `video` tag. We don't need a hexo plugin for that. I will take a look at that soon.

[2019-06-09 19:53] LouisBarranqueiro commented on #544
This is another thing to do and NPM already guarantees that once a package is published under a specific version, it cannot be changed so we should be good.

I'm closing this for now since we should not fetch any scripts from external resources anymore so we don't need to implement that.

[2019-06-09 19:53] #544 closed

[2019-06-09 20:12] LouisBarranqueiro commented on #549
I'm on it :)

[2019-06-09 20:54] fletchto99 opened #555 "Increase accessibility compliance (WCAG 2.1)"
### Description

I think a welcomed change by this theme's users would be increasing the [web accisiblity compliance level](https://www.w3.org/TR/WCAG21/). I believe a WCAG 2.1 level of AA would be within reason. There would be a few benefits to this change:

1. Better accessibility for readers using utilities such as screen readers.
2. A higher accessibility score leads to a [higher page rank](ht

[2019-06-09 21:05] LouisBarranqueiro commented on #555
Yes, it's a good idea. We need to work on the demo so we can measure the changes done (before/after). Could you please post reports here of the [demo website](https://louisbarranqueiro.github.io/hexo-theme-tranquilpeak/) done by these tools? IMO, we need to have a report for the index page and a post page.

Once we have these reports, let's discuss what we implement to improve accessibility and ra

[2019-06-09 21:06] fletchto99 commented on #555
Certainly! I'll generate reports for some of the more common tools which are recommended by browser creators. I'll generate the reports shortly and edit this comment accordingly.

[2019-06-09 21:10] fletchto99 commented on #554
I believe there is interest in a feature like this. It looks like this feature was attempted to be implemented before in #457. Furthermore, @bmitchinson also seemed quite interested in a feature such as this.

Aside from the motivations you posted, my original motivation behind this feature change was the fact that [medium](https://medium.com), a common blogging platform, displays a reading time a

[2019-06-09 21:56] LouisBarranqueiro commented on #553
👋 @rschaeuble , I took the time to read https://github.com/google/fonts/issues/1495 and in fact, this might be a problem. Thanks for pointing out this issue. I'm already on it.

[2019-06-09 23:53] LouisBarranqueiro commented on #549
done with b92e32d

[2019-06-25 05:22] LouisBarranqueiro commented on #555
### Before on the homepage
### After on the homepage
### Before on a post

[2019-06-25 05:23] LouisBarranqueiro commented on #555
Improvements done with https://github.com/LouisBarranqueiro/hexo-theme-tranquilpeak/commit/63ac905fea10037a619a5edaaf7a3b3fb2dae4e8
### Before on the homepage
<img width="912" alt="before homepage" src="https://user-images.githubusercontent.com/4705626/60071325-8dec1700-96ce-11e9-907a-d97e8a805251.png">

### After on the homepage
<img width="912" alt="after homepage" src="https://user-images.githu

[2019-06-25 06:12] fletchto99 commented on #555
I think we can still get a minor improvement for fixing the colors. [Report](https://lighthouse-dot-webdotdevsite.appspot.com/lh/html?url=https://louisbarranqueiro.github.io/hexo-theme-tranquilpeak/#accessibility)

This should probably be an easy change but I don't have the best eye for design. Do you think this is something you might be able to do as well?

[2019-06-26 05:22] LouisBarranqueiro commented on #555
@fletchto99 I like how the theme looks, I don't want to change that to get a better score.

[2019-07-01 04:04] #532 closed

[2019-07-01 04:04] #490 closed

[2019-07-01 04:04] #553 closed

[2019-07-01 04:04] #555 closed

[2019-07-01 04:04] #549 closed

[2019-07-01 04:04] #530 closed

[2019-07-01 11:02] itpropro commented on #554
I already use that with tranquilpeak. We just added `hexo-wordcount` as package and added this to post/meta.ejs:
[code]

[2019-07-03 05:42] hilen opened #560 "Question about the the toc."
Hi，is there a plan to update the toc menu to the right area of the page. Just like the image below?
![image](https://user-images.githubusercontent.com/2245840/60565993-2d2ca080-9d98-11e9-89a7-d943050b7c6f.png)

[2019-07-07 14:07] Aeroever opened #561 "blocked by CORS policy: No 'Access-Control-Allow-Origin' header is present on the requested resource."
### Description

I like this topic very much, but when I deploy it, getting image resources will prompt cross-domain requests. All the icons disappeared.How should I address cross-domain requests for resource access？

![image](https://user-images.githubusercontent.com/20549394/60769500-289f1980-a103-11e9-9c56-4161478fdc19.png)

### Expected behavior

### Steps to reproduce the bug

### Environment

[2019-07-07 18:04] LouisBarranqueiro commented on #561
👋 @Aeroever,

you have this error because you were on `https://yuhangyes.gitee.io`  (HTTP) and the URL of this resource is under HTTPS. Basically, you want to make sure you reach out your website using HTTPS and not HTTP. Go to `https://yuhangyes.gitee.io` you should not see this error.

[2019-07-07 18:20] LouisBarranqueiro commented on #560
Hi @hilen,

no, I do not plan to add this feature for now because this is IMO a nice to have since there is already a TOC at the top of each post.

[2019-07-07 18:20] #560 closed

[2019-07-08 15:47] Aeroever commented on #561
The problem is solved, thank you very much.

在 2019-07-08 02:05:01，"Louis Barranqueiro" <notifications@github.com> 写道：

@Aeroever,

you have this error because you were on https://yuhangyes.gitee.io (HTTP) and the URL of this resource is under HTTPS. Basically, you want to make sure you reach out your website using HTTPS and not HTTP. Go to https://yuhangyes.gitee.io you should not see this error.

[2019-07-08 16:15] #561 closed

[2019-07-14 12:43] kakawait opened #562 "Prev/Next button truncated on small screen (firefox)"
### Description
When using firefox (68 on MacOs in my side) **(not reproducible on Chrome)** when reducing screen (or widow) size _next_/_prev_ button has visual bug effect.

Screenshot taken from sample demo site directly https://louisbarranqueiro.github.io/hexo-theme-tranquilpeak/2015/05/28/Elements-showcase/

<img width="722" alt="Screen Shot 2019-07-14 at 14 36 36" src="https://user-images.git

[2019-07-19 14:29] kakawait opened #563 "Hide scrollbar when closing sidebar"
### Description
When closing sidebar we can see during short interval browser scrollbar, that create a weird visual effect.

I think there is two ways to fix it:

1. Simplest using `setTimeout`

[code]

2. Using `transitionated` even like https://jonsuh.com/blog/detect-the-end-of-css-animations-and-transitions-with-javascript/

I'm not Frontend dev so I don't really know which is more efficient be

[2019-08-30 03:25] Starl-web opened #571 "上传到github上，样式无法显示，无法找到一个js文件和一个css文件"

[2019-08-30 12:55] kakawait opened #572 "Codeblock resizer does not work on tabbed codeblock"
### Description
On small screen (could be done with dev tools) with tabbed codeblock first/default tab is correctly resized and horizontal scrollbar appears if content is too large.

But if you press on other tabs width is not resized, so no scrollbar and enable to see truncated horizontal code.

### Expected behavior
Correct size for no default tab

### Steps to reproduce the bug
1. Go to https:/

[2019-09-21 04:05] LouisBarranqueiro commented on #571
👋 @Starl-web, Could you please write in English and follow the template?

[2019-09-21 04:05] #571 closed

[2019-09-21 05:24] LouisBarranqueiro opened #574 "Google Analytics Opt-Out"
### Description

Provide a way for visitors to opt-out from Google Analytics data collection.

### Explanation / motivation

It would help to meet GDPR requirements.

### Additional information
- [x] I can implement this feature / improvement

[2019-09-22 03:29] LouisBarranqueiro commented on #562
👋 @kakawait, this is a bug from Gecko I guess. In fact, I already did something for this issue:https://github.com/LouisBarranqueiro/hexo-theme-tranquilpeak/commit/209398b9522fb05ee5928c946ba69d45a989a3ea.

Increasing the value to `45px` seems to "fix" the bug.

[2019-09-22 03:33] LouisBarranqueiro commented on #563
👋 @kakawait, please follow the template to report bugs otherwise it's hard for me to reproduce them. Please also include a GIF or a video so I can the the problem.

[2019-09-22 03:34] #563 closed

[2019-09-29 00:03] #562 closed

[2019-09-29 00:03] #572 closed

[2019-10-13 07:29] laurentkempe opened #584 "No more hexo-theme-tranquilpeak-built-for-production-XXX.zip?"
Why in the release we are not seeing anymore a zip like hexo-theme-tranquilpeak-built-for-production-3.0.2.zip ?

[2019-11-27 03:25] itpropro opened #588 "Theme doesn't work with hexo-generator-feed anymore"
### Description
The hexo plugin hexo-generator-feed was updated and changed the return type of the path object.
The following lines are the cause for the problem:
[code]
config.feed.path returns an array and the url_for helper executes the `startsWith` function on it, leading to the error.

### Expected behavior
When using hexo generate or hexo server, an error (path.startsWith is not a function)

[2019-11-27 03:31] itpropro commented on #588
I suggest something like the following to still be compatible with older versions of the plugin.
[code]

[2019-12-08 07:13] wangyangang opened #589 "click "Home" on sidebar, url turn to be "http://localhost:4000/%20/""
### Description
when i click the home button on sidebar, web browser go to "http://localhost:4000/%20/",
other button on sidebar work fine but home button.

### Expected behavior
web browser go to "http://localhost:4000/" or "http://localhost:4000"

### Steps to reproduce the bug
 I follow your documentation to config this theme on my website,
it occur.

### Environment
 - **Operating system with

[2019-12-09 05:54] LouisBarranqueiro commented on #584
Hi @laurentkempe, sorry for the late reply. I don't add it anymore because users can build it by themselves and it created support because users didn't understand what to do once they want to change the theme.

[2019-12-09 05:54] #584 closed

[2019-12-09 06:09] LouisBarranqueiro commented on #588
👋 @itpropro thanks for the bug report and the suggestion. I will take care of that ASAP :)

[2019-12-15 22:08] LouisBarranqueiro commented on #589
👋 @wangyangang, thanks for reporting this bug. I will release a new version soon containing a fix for it.

[2019-12-16 14:33] chrisjwelly commented on #589
Facing the same issue on:
Ubuntu 19.10
Hexo 4.0.0
Hexo-cli 3.1.0
Node 12.3.1

The fix also works for me.

Thanks for the hard work! @LouisBarranqueiro

[2019-12-16 19:20] LouisBarranqueiro commented on #589
👋 @chrisjwelly, I will release this new version probably tonight or tomorrow :)

[2019-12-18 13:31] chrisjwelly commented on #554
Hi @itpropro , I'm trying to add `hexo-wordcount` to my blog as well. Facing difficulties in setting it up. In which directory is `post/meta.ejs` located? I'm currently interpreting it as `<postname>/meta.ejs` and it is giving me a reference error

[2019-12-19 01:37] bmitchinson commented on #554
Mine has it enabled if you'd like it for reference. Would dig in more to help but have finals to study for https://github.com/bmitchinson/mitchinson.dev

[2019-12-19 07:23] chrisjwelly commented on #554
Thanks @bmitchinson ! I had a quick look and did a global search on some keywords like "count", "wordcount", "readingtime". However, I couldn't really find anything as to how the reading time is enabled.

Any help would be greatly appreciated. No urgency, though. Please study for your finals first!

[2019-12-19 17:08] darekkay commented on #589
@chrisjwelly As a workaround (or a solution?), you can change the `' '` into `''` [here](https://github.com/LouisBarranqueiro/hexo-theme-tranquilpeak/blob/master/layout/_partial/sidebar.ejs#L36).

[2019-12-19 18:59] bmitchinson commented on #554
@chrisjwelly

Should have linked to [my fork of the theme](https://github.com/bmitchinson/hexo-theme-tranquilpeak) and not the site itself, apologies.

See these:
- [config.yml](https://github.com/bmitchinson/hexo-theme-tranquilpeak/blob/master/_config.yml)
- [en.yml](https://github.com/bmitchinson/hexo-theme-tranquilpeak/blob/master/languages/en.yml)
- [meta.ejs](https://github.com/bmitchinson/he

[2019-12-19 19:06] bmitchinson opened #594 "?: How can we support your development?"
Really appreciate your work Louis, having a site based on your theme really helped me feel confident applying for a job now that i'm leaving school in the Spring.

Is there anyway I could send some "coffee money" your way?

Like Ko-Fi or something? https://ko-fi.com/

Maybe sponsors would work best? https://github.com/sponsors

![image](https://user-images.githubusercontent.com/33632286/71201815-6

[2019-12-19 19:33] fletchto99 commented on #594
If you're interested in joining the sponsors program let me know. I'll see if there's anything I can do internally to state this would be an awesome project that should be onboarded into our sponsors program (no promises I can do anything though).

[2019-12-22 03:39] chrisjwelly commented on #554
Thanks @bmitchinson . I managed to get it working. I appreciate your help!

[2019-12-24 04:04] fletchto99 opened #596 "[Pending] Update to latest gitalk once a release is cut"
Hey @LouisBarranqueiro,

I know you're getting close to cutting a new release of the theme for Hexo v4. Would it be possible to hold off on cutting a new release until gitalk pushes a new release to NPM? I've opened an issue on their repo https://github.com/gitalk/gitalk/issues/336 to track this. It contains a few important fixes I'd like to see in the new version of the theme.

Thanks!

[2020-01-05 07:00] tooOpen opened #598 "Can't see tags in all-tag page"
Hi my blog not applied tags

when I click tag in blog

there is only all-tag text.

my post has 2 tags workout, emotion but

tag post empty even no tag button

can you help me?

https://github.com/tooOpen/tooOpen.github.io

here is my blog

Thank you

[2020-01-09 15:33] wgspring commented on #589
@LouisBarranqueiro I facing the same issue too. And
there is a similar issue:
when I click the title of each post page, it also turn to be "http://localhost:4000/%20/".

I find a solution for these issue:
change the ' ' into '' [here](https://github.com/LouisBarranqueiro/hexo-theme-tranquilpeak/blob/master/layout/_partial/sidebar.ejs#L36).  for issue of home button.
change the ' ' into '' [here](h

[2020-01-09 15:57] wgspring opened #600 "It's useless set lauguage to "zh_CN""
### Description
When I following the `DOCUMENTATION.md` to set `_config.yml`  language as `zh_CN`, I found is doesn't work.  But I set language as `zh_cn`, it is usefull.

There is the following paragraph in the `DOCUMENTATION.md`:

[code]

I think this description is misleading. It might be better to change it to the following.

[code]

### Expected behavior

The page lauguage should be Chinese.

[2020-02-02 05:08] LouisBarranqueiro commented on #594
👋 @bmitchinson  @fletchto99  buddies, I really appreciate that you thought about this but I don't need money to motivate me, or have a reason to continue to work on this project. I just do it because I want it, I wanna help the community and I don't expect anything in return.

[2020-02-02 05:08] #594 closed

[2020-02-02 05:11] LouisBarranqueiro commented on #596
👋 Renovate will update `gitalk` dep as soon as a new version is released. I will make a release after that.

[2020-02-02 05:11] #596 closed

[2020-02-02 05:13] LouisBarranqueiro commented on #598
👋 Could you please open a new issue and respect the bug to report a template? this will help me to understand your problem. The template is here: https://github.com/LouisBarranqueiro/hexo-theme-tranquilpeak/issues/new?assignees=LouisBarranqueiro&labels=&template=bug-report.md&title=

[2020-02-02 05:13] #598 closed

[2020-02-12 10:27] chilo-hzl commented on #589
@wgspring You are so nice, i encountered this issue long time, i don't know how to work out it, even i forgot to see github issue, today i finally resolve this, thank you so much

[2020-02-13 02:27] chilo-hzl opened #611 "The browser can't parse if {% hl_text%} next line is headline"
The broswer can correctly parse headline if don't have {% hl_text %}{% endhl_text %},
if have this tag the next line is ### xxx

[2020-02-13 02:51] LouisBarranqueiro commented on #611
👋 @chilo-hzl, I would be happy to help you but I need you to respect the template to open a bug. This will enable me to understand the problem and help you. You can find the template here: https://github.com/LouisBarranqueiro/hexo-theme-tranquilpeak/issues/new?assignees=LouisBarranqueiro&labels=&template=bug-report.md

Please re-open this issue as soon as you updated it.

[2020-02-13 02:51] #611 closed

[2020-02-13 05:52] chilo-hzl opened #612 "The browser can't correctly parse headline"
### Description

The browser can't correctly parse headline When i used {% hl_text %}{% endhl_text %} tag in the previous row(headline on next line of tags),

### Expected behavior

I hope the browser can correctly parse headline when it was located next line of tag

### Steps to reproduce the bug

[code]
### Environment
 - **Operating system with version** : win10
 - **Node version**: 12.14.0
 -

[2020-02-13 06:39] #588 closed

[2020-02-13 06:39] #589 closed

[2020-02-13 06:43] LouisBarranqueiro commented on #600
👋 @wgspring, I updated the documentation. Thanks for reporting this problem.

[2020-02-13 06:43] #600 closed

[2020-02-13 06:52] LouisBarranqueiro commented on #612
👋 @chilo-hzl, this is not a bug. The markdown-renderer library used in Hexo requires a new line before headlines. Try that, it should work:
[code]

[2020-02-13 06:55] LouisBarranqueiro commented on #589
👋 guys, the new version has been released: [v4.0.0](https://github.com/LouisBarranqueiro/hexo-theme-tranquilpeak/releases/tag/v4.0.0). Sorry for the delay.

[2020-02-13 09:24] chilo-hzl commented on #612
No, this way i had tried, but it doesn't work, such as
[code]
youcan see test that will be like this [my Blog](https://chilo-hzl.github.io/)
even i use diffenent editor, it like same

[2020-02-15 05:46] LouisBarranqueiro commented on #612
👋 I've managed to reproduce the issue. This is either related to [hexo](https://github.com/hexojs/hexo) or the hexo render library used.

I suggest you open an issue on the repository of Hexo. Here is a quick example to reproduce this problem with the builtin Hexo tag:
[code]

Hexo tags with ending tags corrupt the rest of the text if the ending block is not on a new line.

this example will work:

[2020-02-15 05:46] #612 closed

[2020-02-15 06:19] chilo-hzl commented on #612
Thank you so much for helping me, i will open an issue on Github of Hexo

[2020-02-24 12:14] hwj1995 opened #615 "can we use latex in this demo?"
I wanna express some math in my blog. But I don't know it is ok to use latex.

[2020-02-24 12:53] #615 closed

[2020-03-06 12:37] IMMUKESHPATEL commented on #479
Where do I paste this code

[2020-03-06 19:43] LouisBarranqueiro commented on #479
👋 @IMMUKESHPATEL , you can paste that in this file https://github.com/LouisBarranqueiro/hexo-theme-tranquilpeak/blob/master/layout/_partial/head.ejs

Don't forget to rebuild the theme after that:  https://github.com/LouisBarranqueiro/hexo-theme-tranquilpeak/blob/master/DOCUMENTATION.md#modifying-the-theme

[2020-03-10 05:11] l8higher opened #617 "Hey guys,i encountered some difficulties when i install your themes."
I download your lateat release theme,but when i start my hexo blog and review my blog in localhost,i fear some problems.
![截屏2020-03-10 下午1 06 13](https://user-images.githubusercontent.com/57839836/76281418-ef412e00-62cf-11ea-9793-6cf69672a132.png)
and My blog theme doesn't work
![截屏2020-03-10 下午1 08 12](https://user-images.githubusercontent.com/57839836/76281497-34fdf680-62d0-11ea-9610-71466f3434

[2020-03-10 07:00] l8higher commented on #617
i solve it ,but i fear new promble.

[2020-03-10 07:00] #617 closed

[2020-03-10 07:05] l8higher opened #618 "i encountered a new promble."
when i print'hexo s‘ and turn on localhost
![截屏2020-03-10 下午3 04 23](https://user-images.githubusercontent.com/57839836/76287869-70082600-62e0-11ea-8b5d-5ec0fcb18270.png)
I have no idea,i hope you can help me !!

[2020-03-11 02:11] LouisBarranqueiro commented on #618
👋 @l8higher , I would be happy to help you but I need you to respect the template to open a bug. This will enable me to understand the problem and help you. You can find the template here: https://github.com/LouisBarranqueiro/hexo-theme-tranquilpeak/issues/new?assignees=LouisBarranqueiro&labels=&template=bug-report.md

Please re-open this issue as soon as you updated it.

[2020-03-11 02:11] #618 closed

[2020-04-03 12:31] sj602 commented on #589
I think the bug still exists even after the v4.0.0 update.
To fix, erase ' ' => ''
header.ejs
[code]

[2020-04-07 02:14] tienhm0202 opened #622 "How to update theme without losing all configs?"
How can I silent update tranquilpeak theme (from 3.0.1 to latest) without losing all my current config?

Or can you provide some tips to do it easiest, please?

[2020-04-07 02:54] tienhm0202 opened #623 "Can not find jsdom in Netlify"
### Description
I used hexo generate in my PC is OK, but in Netlify CI - it raised error about not found jsdom

### Expected behavior
Running `hexo generate` in Netlify CI:

[code]

### Steps to reproduce the bug
- Add repo to Netlify
- Build script is `hexo generate`

### Environment
 - **Operating system with version** : Ubuntu 16.04
 - **Node version**: 13.8.0
 - **Hexo version**: 3.9.0
 - **He

[2020-04-14 03:28] iushas opened #625 "where to set value of header-title-link"
![image](https://user-images.githubusercontent.com/7236171/79183007-dd105d80-7e42-11ea-9b31-a03cd296221a.png)

I have the error :  Cannot GET /%20/
![image](https://user-images.githubusercontent.com/7236171/79183104-18129100-7e43-11ea-8dfa-a9b154221814.png)

[2020-04-14 03:30] iushas commented on #625
I can't find  the place to set the conifg value of   header-title-link

[2020-04-14 03:40] iushas commented on #625
oh , i find it !!  sidebar_behavior ..

[2020-04-14 17:52] LouisBarranqueiro commented on #625
👋 @iushas , I would be happy to help you but I need you to respect the template to open a bug. This will enable me to understand the problem and help you. You can find the template here: https://github.com/LouisBarranqueiro/hexo-theme-tranquilpeak/issues/new?assignees=LouisBarranqueiro&labels=&template=bug-report.md

Please re-open this issue as soon as you updated it.

[2020-04-14 17:52] #625 closed

[2020-04-17 03:43] LouisBarranqueiro commented on #623
👋@tienhm0202,   It means that `jsdom` NPM module is not installed. Make sure you install NPM modules required by the theme. Performing `npm install` in `your-website/themes/tranquilpeak/` should fix the problem.

You could be interested by https://github.com/LouisBarranqueiro/hexo-theme-tranquilpeak/issues/488 and https://github.com/LouisBarranqueiro/hexo-theme-tranquilpeak/issues/475 as these are

[2020-04-17 03:48] LouisBarranqueiro commented on #622
@tienhm0202, not really, simply replace all files expect the config. If you modified the theme, only you, know what needs to be replaced. Unfortunately, there is no command to perform an update.

Also, this theme is quite old and the config for the theme is inside the theme which is not ideal. New Hexo versions enable theme configs to be outside so maybe I will invest some time a day to make this

[2020-04-18 02:32] tienhm0202 commented on #623
It worked like a charm. Thank you. I will close this issue <3

[2020-04-18 02:32] #623 closed

[2020-04-18 02:35] tienhm0202 commented on #622
That's awesome, @LouisBarranqueiro. I think I should close this issue as my question is done.

I hope your new release with outside configs will be launched soon.

[2020-04-18 02:35] #622 closed

[2020-05-16 03:22] oe opened #634 "header title link error"
### Description
When clicking header title in a post, it will redirect to `/%20/`, which will cause a 404 error.   The redirect is incorrect.

This error is caused by the following code(L19)

https://github.com/LouisBarranqueiro/hexo-theme-tranquilpeak/blob/b6090f86d598fba44ab475df4cf14a264ce22093/layout/_partial/header.ejs#L16-L22

Replacing `url_for (' ')` to `url_for ('')` or `url_for ('/')` ca

[2020-05-22 04:58] LouisBarranqueiro commented on #634
👋 @oe, I would be happy to help you but I need you to respect the template to open a bug. This will enable me to understand the problem and help you. You can find the template here: https://github.com/LouisBarranqueiro/hexo-theme-tranquilpeak/issues/new?assignees=LouisBarranqueiro&labels=&template=bug-report.md

Please re-open this issue as soon as you updated it.

[2020-05-22 04:58] #634 closed

[2020-06-20 23:10] pi-dal opened #637 "I think it’s the best hexo theme.Thank you."
_the best hexo theme_
**thank you**

[2020-06-21 18:59] LouisBarranqueiro commented on #637
Thanks for the love @pi-dal, I really appreciated that 🤗

[2020-06-21 18:59] #637 closed

[2020-06-25 15:32] TomatoesMan opened #638 "The search page never opens"
When you click the search button, the URL changes, but no search box pops up

[2020-06-25 15:45] LouisBarranqueiro commented on #638
👋 @TomatoesMan , I would be happy to help you but I need you to fill the template to open a bug. This will enable me to understand your issue and help you. You can find the template here: https://github.com/LouisBarranqueiro/hexo-theme-tranquilpeak/issues/new?assignees=LouisBarranqueiro&labels=&template=bug-report.md

Please re-open this issue as soon as you updated it.

[2020-06-25 15:45] #638 closed

[2020-07-04 02:28] pi-dal opened #641 "A eroor with alogin"
# I use the a login to search. But it doesn’t work
[![9-CA393-CA-3713-4916-94-D6-4-D9-C2-F450068.png](https://i.postimg.cc/DZ41RBcM/9-CA393-CA-3713-4916-94-D6-4-D9-C2-F450068.png)](https://postimg.cc/347yvjVX)
## What can I do

[2020-07-07 02:19] LouisBarranqueiro commented on #641
👋 @pi-dal , I would be happy to help you but I need you to respect the template to open a bug. This will enable me to understand the problem and help you. You can find the template here: https://github.com/LouisBarranqueiro/hexo-theme-tranquilpeak/issues/new?assignees=LouisBarranqueiro&labels=&template=bug-report.md

Please re-open this issue as soon as you updated it.

[2020-07-07 02:19] #641 closed

[2020-07-20 05:40] pi-dal opened #647 "A question of the latex"
**I can't use the latex on your theme.How can I do?**

[2020-07-20 22:51] LouisBarranqueiro commented on #647
👋 @pi-dal , I would be happy to help you but I need you to respect the template to open a bug. This will enable me to understand the problem and help you. You can find the template here: https://github.com/LouisBarranqueiro/hexo-theme-tranquilpeak/issues/new?assignees=LouisBarranqueiro&labels=&template=bug-report.md

Please re-open this issue as soon as you updated it.

[2020-07-20 22:51] #647 closed

[2020-07-24 07:27] tienhm0202 opened #649 "Can I update package with security problem ?"
![](https://i.imgur.com/MJ5378z.png)

I found these errors in security report. How can I update these issues without making theme broken? (I'm not so familiar with JS)

[2020-07-25 02:06] LouisBarranqueiro commented on #649
👋 @tienhm0202, I would be happy to help you but I need you to respect the template to open an issue. This will enable me to understand the problem and help you. You can find the template here: https://github.com/LouisBarranqueiro/hexo-theme-tranquilpeak/issues/new?assignees=LouisBarranqueiro&labels=&template=bug-report.md

Please re-open this issue as soon as you updated it.

[2020-07-25 02:06] #649 closed

[2020-08-07 06:54] tienhm0202 opened #651 "JS Library need update - security issue"
### Description

I run Lighthouse in Chrome Dev Tool and its report like this. I think some JS library need updated
![Imgur](https://i.imgur.com/yq614d9.png)

### Expected behavior

It make Google score my site lower. I want to know how to update these library without break theme.

### Steps to reproduce the bug

Run Lighthouse Audit in Chrome

### Environment
 - **Operating system with version**

[2020-08-07 12:23] chrisjwelly opened #652 "Setting thumbnail_image_position to 'bottom' makes a smaller empty line"
### Description

The default configuration for `thumbnail_image_position` is `right`. I changed this to `bottom` in order remove the seemingly empty space on the right side. I have written several paragraph of my posts, and I separate my paragraphs with an empty line. When I am still using the default `thumbnail_image_position` to `right`, the empty lines are shown clearly, but upon changing to `b

[2020-08-09 01:22] LouisBarranqueiro commented on #651
👋 @tienhm0202 , I will release a new version soon with the latest jQuery version: v3.5.1

[2020-08-09 02:01] LouisBarranqueiro commented on #652
👋 @chrisjwelly , thanks for the detailed report. I'm checking this out right now.

[2020-08-09 02:06] LouisBarranqueiro commented on #652
I found why and implemented a fix. I will release a new version including this fix real soon :)

[2020-08-09 02:06] #652 closed

[2020-08-09 02:07] LouisBarranqueiro commented on #651
the fix is included in this commit

[2020-08-09 02:08] #651 closed

[2020-08-09 07:23] chrisjwelly commented on #652
@LouisBarranqueiro Awesome! Thanks.

If you don't mind me asking, how did `last-of-type` fix the issue?

[2020-08-09 16:54] LouisBarranqueiro commented on #652
@chrisjwelly sure 🙂  this CSS rule will remove the bottom margin of the last paragraph in the excerpt instead of (previously) removing the bottom margin of all paragraphs in the excerpt. `last-of-type` is a CSS selector to select the last element of type `p` in the excerpt (`div`).

[2020-08-11 01:55] pi-dal opened #656 "Algoliasearch repeated installation"
Hey, hello. I found that when I use ```npm install && npm run prod```, algoliasearch@3.35.1 is already installed by default. Then why do I need to install it in my blog directory?

[2020-08-12 00:13] LouisBarranqueiro commented on #656
👋 @pi-dal, I would be happy to help you but I need you to respect the template to open a bug. This will enable me to understand the problem and help you. You can find the template here: https://github.com/LouisBarranqueiro/hexo-theme-tranquilpeak/issues/new?assignees=LouisBarranqueiro&labels=&template=bug-report.md

Also, what do you mean with "algoliasearch@3.35.1 is already installed by default"

[2020-08-12 00:13] #656 closed

[2020-08-25 12:53] pi-dal opened #659 "Link to title"
When I used your theme, I found that the link to the website title at the top of the article was /%20.
like this:
![title](https://user-images.githubusercontent.com/53357798/91176504-f2609700-e714-11ea-8d8d-44f63ad9485b.png)
![link](https://user-images.githubusercontent.com/53357798/91176534-fc829580-e714-11ea-854d-5a1c9fd7c4b7.png)

[2020-08-25 12:57] pi-dal commented on #659
Now I solve the problem of title link.See [#660](https://github.com/LouisBarranqueiro/hexo-theme-tranquilpeak/pull/660)

[2020-08-25 20:10] LouisBarranqueiro commented on #659
👋 @pi-dal , this problem has been already fixed with this commit: https://github.com/LouisBarranqueiro/hexo-theme-tranquilpeak/commit/ace4a951a53a77be945c92d9b62d6c8d6cb02c4d

I will release a new version of the theme this WE.

[2020-08-25 22:34] pi-dal commented on #659
@LouisBarranqueiro Wow, that's really good news. I will look forward to it coming.😁

[2020-09-01 14:27] chrisjwelly commented on #652
I see, thank you very much!

[2020-09-05 12:20] #659 closed

[2020-12-22 02:50] hanseul-lee opened #668 "How can I set Utterence in tranquilpeak?"
I want to set utterence on my blog

I did three things like below

1. _config.yml
[code]

2. /themes/tranquilpeak/layout/post.ejs
[code]

3. /themes/tranquilpeak/layout/comment.ejs
[code]

Aftert that, I can see the the utterence comment layout,
but when I clicked the comment button, 404 error occurred
https://hanseul-lee.github.io/  here is my blog link

I don't know how to solve this
so could yo

[2020-12-23 20:52] LouisBarranqueiro commented on #668
👋 @hanseul-lee this theme does not integrate with utterence so I won't be able to guide you to integrate it. Does utterence have a guide to integrate their comment system with any theme? Does utterence can be added to any theme?

[2020-12-23 20:57] hanseul-lee commented on #668
@LouisBarranqueiro Yes, I saw lots of blog postings integrated with utterence. In [utternce.es](https://utteranc.es/) also say that "Add the following script tag to your blog's template.". But I don't know where to put it.

[2020-12-24 00:31] LouisBarranqueiro commented on #668
the fact that the layout is displayed means that you correctly integrated it into the theme. Now, if you encounter an error when you comment, it probably has nothing to do with the theme. You can try utterence with another theme to confirm. I suggest posting the 404 error you have as well with the logs of the error on utterence repository/support channel. From what I have seen with comment systems

[2020-12-24 02:34] hanseul-lee commented on #668
ok. thank you:)

[2020-12-24 02:35] #668 closed

[2021-01-21 01:50] flor14 opened #669 "Showing post folder instead of posts"
Hello!

Do you have any clue how I can fix this?

Where the posts were shown before, now I can read "Posts". If I click there I can have access to the posts but I would like to see them again on the main page.

If you can help me I would really appreciate it.

Now:
![image](https://user-images.githubusercontent.com/29610858/105266941-1adba880-5b70-11eb-875e-2eb3e11dadb2.png)

[2021-01-21 22:39] LouisBarranqueiro commented on #669
👋 @flor14 , I would be happy to help you but I need you to respect the template to open a bug. This will enable me to understand the problem and help you. You can find the template here: https://github.com/LouisBarranqueiro/hexo-theme-tranquilpeak/issues/new?assignees=LouisBarranqueiro&labels=&template=bug-report.md

Please re-open this issue as soon as you updated it.

[2021-01-23 15:33] flor14 opened #670 "posts folder appear instead of the posts"
### Description
This is the blog working properly https://florencia.netlify.app/

But since the last time when I opened it locally, it appears the post folder on the screen instead of the posts
![image](https://user-images.githubusercontent.com/29610858/105588755-5e046a00-5d70-11eb-918a-479e80e5b821.png)

The blog has a link I included in the past to switch between the Spanish and English versions

[2021-01-23 17:13] #669 closed

[2021-01-23 17:47] LouisBarranqueiro commented on #670
Hi Flor, I see that you are using Hugo and not Hexo. This repository is for the theme available on Hexo. You want to create an issue on https://github.com/kakawait/hugo-tranquilpeak-theme

[2021-01-23 17:48] #670 closed

[2021-02-17 08:51] ficapy opened #672 "algoliasearch.js not exists"
https://github.com/LouisBarranqueiro/hexo-theme-tranquilpeak/blob/ed3841ccb74391f16f26c4628e08a1625f3b7a92/tasks/config/copy.js#L82-L83

The algoliasearch.js file does not exist in the new version and will make algoliasearch not work.

[2021-02-17 12:27] ficapy commented on #672
I put the algoliasearch.js file from version 3.35.1 into the `node_modules/algoliasearch/dist/`, and it works fine now. Hope you can fix this compatibility issue @LouisBarranqueiro

[2021-02-22 06:42] #672 closed

[2021-02-22 06:46] LouisBarranqueiro commented on #672
👋 @ficapy , thanks for reporting this problem. Just fixed it and released a new version: https://github.com/LouisBarranqueiro/hexo-theme-tranquilpeak/releases/tag/v4.1.2

[2021-05-28 02:33] tienhm0202 opened #683 "Tag to embed Google Slides"
### Description

Now, we can embed images, videos - but for a tech blog, I really want to have tag like Google Slide.

### Explanation / motivation

- Now we can use hexo-oembed (https://github.com/hinastory/hexo-oembed) to embed slide from slideshare only with `{% oembed https://www.slideshare.net/... 800px 800px %}` - but embedded thumb is so small and do not fit screen like this ![Imgur](https:

[2021-05-28 03:43] tienhm0202 commented on #683
Use iframe directly in markdown can work!

[2021-05-28 03:43] #683 closed

[2021-08-10 08:54] KirisameMarisas opened #686 "Npm install Error - install issue"
### Description
Npm reports Error after I running the command "npm install" .Is the version compatibility issue?
![5 @0XN SQ GYEH8X %RJCB](https://user-images.githubusercontent.com/49802446/128834020-d6803423-8afb-4365-966c-491b802163c1.png)
![@9Q812(WS9P_7NW}`9~~6MG](https://user-images.githubusercontent.com/49802446/128837786-73fdc944-1e1d-4d0d-8df7-01f5a8c80eba.png)
![OKII7V{K 8~4E 7 TZJ Z$V](h

[2021-08-12 18:04] LouisBarranqueiro commented on #686
👋  @KirisameMarisas,  It might be related to node v16. Could you please try with the active LTS version -> node v14? https://nodejs.org/en/about/releases/

[2021-08-13 07:11] KirisameMarisas commented on #686
I have tried with node v14, but it still have this problem.  And I fix it with modifying the package.json file , change "node-sass" from 5.0.0 to 6.0.0 and the problem is solved.
By the way , some dependencies have high-risk vulnerabilities  because of old version , using safer dependencies or trying to implement it as safe as possible.

[2021-08-18 04:12] LouisBarranqueiro commented on #686
I see. thanks for the tip. I'm gonna release a new version of the theme with updated dependencies.

[2021-08-18 04:31] LouisBarranqueiro commented on #686
done 🙂

[2021-08-18 04:31] #686 closed

[2021-08-30 08:57] renovate[bot] opened #688 "Dependency Dashboard"
This issue lists Renovate updates and detected dependencies. Read the [Dependency Dashboard](https://docs.renovatebot.com/key-concepts/dashboard/) docs to learn more.

## Open

These updates have all been created already. Click a checkbox below to force a retry/rebase of any.

 - [ ] [chore(deps): update actions/checkout action to v4](../pull/718)
 - [ ] [chore(deps): update actions/setup-node act

[2021-10-19 20:49] renovate opened #692 "Action Required: Fix Renovate Configuration"
There is an error with this repository's Renovate configuration that needs to be fixed. As a precaution, Renovate will stop PRs until it is resolved.

Error type: Cannot find preset's package (github>whitesource/merge-confidence:beta)

[2021-10-19 21:13] #692 closed, assigned to nobody

[2021-12-10 07:50] bfcs opened #695 "Use relative path for thumbnail image url"
### Description

scripts/filters/thumbnail_image_url.js

[code]
Currently the thumbnail image url is `post.permalink + post.thumbnailImage`,
e.g. `https://username.github.io/2021/12/09/postname/imagename.jpg`

When use `hexo server` to preview  locally, there is a 404 error to get the thumbnail image. The image won't show.

![image](https://user-images.githubusercontent.com/52602045/145536406-c460

[2021-12-11 05:01] bfcs commented on #695
the same issue found in generated search result page
source/_js/search-modal.js
[code]

[2021-12-13 06:36] LouisBarranqueiro commented on #695
👋 @bfcs, I would like to help you but I need more information. Could you please fill out the template to report a bug (including versions of your module, hexo, system, etc...)?

[2021-12-14 02:00] bfcs commented on #695
Hi, @LouisBarranqueiro ,
The issue is environment independent. When you config the url in `_config.yml`, the result of `post.permalink` is `https://bfcs.github.io/yyyy/mm/dd/title`
![image](https://user-images.githubusercontent.com/52602045/145918398-849559fc-d93d-4f94-ba89-4045be0db510.png)

so
scripts/filters/thumbnail_image_url.js
[code]
result is `https://bfcs.github.io/yyyy/mm/dd/title/thumbn

[2021-12-14 05:05] LouisBarranqueiro commented on #695
👋 @bfcs, could you please fill out the template to report a bug (including versions of your module, hexo, system, etc...)? I believe this problem is related to the version of Hexo because it works well on my side. Please re-open this issue when you updated the issue with the information needed.

[2021-12-14 05:05] #695 closed

[2022-01-04 06:44] wasi-master opened #697 "How would I go on about implementing a dark mode"
The theme is great but the only issue I have is that it doesn't have a dark theme by default like [NexT](https://theme-next.js.org/). How could I achieve a dark mode like that?

[2022-01-09 03:02] secsilm opened #698 "Modify inline code color in `_base.scss` not working"
First of all, Thanks for your great theme!

### Description

I tried to modify inline code styles and successfully modified some of them. I followed the instructions in https://github.com/LouisBarranqueiro/hexo-theme-tranquilpeak/issues/10#issuecomment-102610892.

But I cannot make it through modifying `tranquilpeak\source\_css\base\_base.scss` as follows:

[code]

Chrome dev tools:

![image](http

[2022-01-13 05:33] LouisBarranqueiro commented on #697
👋 @wasi-master, it would require a lot of CSS changes. That's quite some work.

[2022-01-13 05:37] LouisBarranqueiro commented on #698
👋 @secsilm, it works, it's just that this property is overridden by another one:
<img width="476" alt="Screen Shot 2022-01-12 at 9 35 19 PM" src="https://user-images.githubusercontent.com/4705626/149272050-27e2302e-0b44-44f1-bd60-257e384ed684.png">

[2022-01-14 02:52] secsilm commented on #698
@LouisBarranqueiro Then how do I keep it from being overridden?

[2022-01-14 03:28] LouisBarranqueiro commented on #698
I can't really tell because you modified the code of the theme. You need to search in the different files where the property `background-color:#f7f8f8;` is set and remove it.

[2022-01-15 04:03] secsilm commented on #698
OK, I finally  get it worked. Here are the steps:

1. Modifying the inline code color as above.
2. Comment out `background` in `_variables.scss` as following:
[code]
3. The above code will result in losing backround color of  the `pre` code, so we have to specify the background color in `_code.scss`:

[code]
4. `npm run prod`

[2022-01-15 04:13] #698 closed

[2022-01-16 17:45] wasi-master commented on #697
Well okay then.

[2022-01-16 17:45] #697 closed

[2022-04-21 18:12] DonkeyBear opened #702 "Ease-in animation of sidebar is not quite like hugo-version tranquilpeak"
### Description

As the title, sidebar's ease-in animation is not quite like hugo-version.

### Explanation / motivation

It's not a big deal, but I like hugo-version's animaiton more, if anyone could fix it, that will be help.

[2022-04-26 22:22] LouisBarranqueiro commented on #702
👋 @DonkeyBear , could please provide videos, or links so I can see that? I can have a look at it but in the end, hugo theme is imitating hexo theme, not the opposite, and they are not the same.

[2022-04-29 09:53] DonkeyBear commented on #702
Hi @LouisBarranqueiro, I'm sorry for confusing the relationship between Hexo and Hugo version.
And I do have GIFs of comparison this time, please take a look:
https://imgur.com/a/vuKUmp1

I'll be glad if Hexo version can add ease animation from Hugo version, thank you.

[2022-04-30 04:53] LouisBarranqueiro commented on #702
👋  @DonkeyBear , sorry I will not make that change because that's your personal preference. The theme is open source so you can easily get download it and modify it yourself. 🙂 Here is the code you need to modify: https://github.com/LouisBarranqueiro/hexo-theme-tranquilpeak/blob/master/source/_css/layouts/_sidebar.scss#L12 and here the procedure to modify the theme: https://github.com/LouisBarranq

[2022-04-30 04:53] #702 closed

[2022-04-30 05:25] DonkeyBear commented on #702
@LouisBarranqueiro, Got it. Thanks for your reply, I will learn how to modify this theme, and thank you for bringing us this great theme.
Sincerely.

[2022-06-29 06:10] CHYGO1985 opened #704 "Disqus not work"
I have already set the shortname in __config.yml, and the page showes  "We were unable to load Disqus." , the disques comment section works fine before, is there a bug here?

[2022-06-29 07:17] panxiuwen opened #705 "Add horizontal scroll bar for overflow table"
### Description
The wide table will overflow in the narrow screen.
![QQ截图20220629151039](https://user-images.githubusercontent.com/35104739/176374836-6a20a017-79d4-415d-827c-c98e26dd98e8.jpg)

I hope add the slide bar in the table, just like Typora.
![image](https://user-images.githubusercontent.com/35104739/176375257-2f5da770-f142-47fe-805f-353907c7f316.png)

[2022-07-07 05:32] LouisBarranqueiro commented on #704
👋 @CHYGO1985 Could you please use the template to report a bug? It will help me understand what the problem could be.

Before what?

[2022-07-07 05:34] LouisBarranqueiro commented on #705
👋 @panxiuwen,  Could you please share the websites to test that?

what is typora?

[2022-07-07 05:37] CHYGO1985 commented on #704
Hi @LouisBarranqueiro  Thank you so much for your reply. I forgot I have left a message here, the issue has been resolved via following the recent instructions published from Disqus side :) Again thank you again for getting back to me

[2022-07-07 07:43] panxiuwen commented on #705
Hi @LouisBarranqueiro Thank you so much for your reply.

[My websit](https://panxiuwen.pages.dev/posts/2004/)  use tranquilpeak theme with multi-column tables. The table work well in widescreen devices like PC, but you can see the overflow table in mobile devices.

Typora is a markdown editor, and I hope those two gif [Typora](https://raw.githubusercontent.com/panxiuwen/UnixBench-Score/master/Typo

[2022-07-07 17:31] #704 closed

[2022-10-25 15:55] SimonTeo58 opened #706 "even i read document of configuration, still there are few questions that i do not know how fix"
1.  home index page does not wrap all of posts
![image](https://user-images.githubusercontent.com/46363359/197820551-6c946715-ab5a-4b8c-9550-06efed8e37e5.png)
2. profile picture does not shown up
![image](https://user-images.githubusercontent.com/46363359/197821215-16f9836a-9e29-48f3-bb69-310430412d21.png)
if  i put a picture for avatar, this page can not load static resource

[2022-10-26 03:56] SimonTeo58 commented on #706
update
i fixed item 1, but for item 2 , i found out that if used personal picture ,your theme could not load picture, but used your cover.jpg it is ok

[2022-10-26 12:55] #706 closed

[2022-10-29 10:01] kirk-zhang58 opened #707 "how keep one of page at top of index page"
![image](https://user-images.githubusercontent.com/46363359/198825370-d24d398b-fd32-41dc-82ad-955d2169b4d2.png)

more like above capture,  i wanna keep page which of i drawed at top of index page . how do it